{:deps  {dk.ative/docjure {:mvn/version "1.12.0"}}
 :paths ["src/clj"]
 :aliases {:localizations {:main-opts ["-m" "teet.localization"]}
           :authorizations {:main-opts ["-m" "teet.authorization"]}
           :asset-schema {:main-opts ["-m" "teet.asset-schema"]}}}
