{:deps {org.clojure/clojurescript #_{:mvn/version "1.10.520"} {:sha "743120ff5484b7db0726071ef8e7fdbbaff46191" :git/url "https://github.com/erno/clojurescript"}
        ;; UI Libraries
        reagent {:mvn/version "0.8.1" :exclusions [cljsjs/react-dom-server]}
        tatut/postgrest-ui {:git/url "https://github.com/tatut/postgrest-ui"
                            :sha "9d88bbb8f8c0f1cd6fc90162e275f34db26a059b"}
        webjure/tuck {:git/url "https://github.com/tatut/tuck"
                      :sha "4afc81236a0c62155afb1a704501424e025323fb"}
        data-frisk-reagent {:mvn/version "0.4.5" :exclusions [reagent]}
        herb {:mvn/version "0.10.0"}

        ;; Routing
        funcool/bide {:mvn/version "1.6.0"}

        ;; Logging
        com.taoensso/timbre {:mvn/version "4.10.0"}

        ;; Mapping and geometry libraries
        cljsjs/openlayers {:mvn/version "4.4.1-1"}
        cljsjs/proj4 {:mvn/version "2.5.0-0"}

        ;; cljs-time
        com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}

        ;; Utils
        cljs-bean {:mvn/version "1.4.0"}
        org.clojure/core.async {:mvn/version "0.4.500"}
        alandipert/storage-atom {:mvn/version "2.0.1"}

        com.cognitect/transit-cljs {:mvn/version "0.8.256"}}
 :paths ["src/cljs" "../common/src/cljc" "target" "resources"]
 :aliases {:test {:main-opts ["-m" "figwheel.main"
                              "-co" "tests.cljs.edn"
                              "-m" "teet.runner"]
                  :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.3"}
                               webjure/drtest {:mvn/version "20190611"}}
                  :extra-paths ["test"]}
           :dev {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]
                 :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.3"}
                              webjure/drtest {:mvn/version "20190611"}}
                 :extra-paths ["test"]}}}
