{:deps {;; UI Libraries
        reagent {:mvn/version "0.8.1" :exclusions [cljsjs/react-dom-server]}
        tatut/postgrest-ui {:git/url "https://github.com/tatut/postgrest-ui"
                            :sha "cbac3f7fb72540bb36f8e4b4ec3b93fecc9ed402"}
        webjure/tuck {:mvn/version "20181204" :exclusions [cljsjs/react]}
        data-frisk-reagent {:mvn/version "0.4.5" :exclusions [reagent]}
        herb {:mvn/version "0.10.0"}

        ;; Routing
        funcool/bide {:mvn/version "1.6.0"}

        ;; Logging
        com.taoensso/timbre {:mvn/version "4.10.0"}

        ;; Mapping and geometry libraries
        cljsjs/openlayers {:mvn/version "4.4.1-1"}
        cljsjs/proj4 {:mvn/version "2.5.0-0"}

        ;; cljs-time
        com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}

        ;; Utils
        cljs-bean {:mvn/version "1.4.0"}
        org.clojure/core.async {:mvn/version "0.4.500"}

        com.cognitect/transit-cljs {:mvn/version "0.8.256"}}
 :paths ["src/cljs" "target" "resources"]
 :aliases {:test {:main-opts ["-m" "figwheel.main"
                              "-co" "tests.cljs.edn"
                              "-m" "teet.runner"]
                  :extra-deps {webjure/drtest {:mvn/version "20190611"}}
                  :extra-paths ["test"]}
           :dev {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]
                 :extra-deps {webjure/drtest {:mvn/version "20190611"}}
                 :extra-paths ["test"]}}}
