^{:auto-testing false ; see teet.runner
  :watch-dirs ["test" "src/cljs" "../common/src/cljc"]}
{:main teet.dev-main ;teet.main
 :target :bundle
 :output-to "out/index.js"
 :output-dir "out"
 :bundle-cmd {:none ["npx" "webpack" "--mode=development"]
              :default ["npx" "webpack"]}
 :open-url false}
