{:main teet.main
 :output-to "out/index.js"
 :output-dir "out"
 :target :bundle
 :bundle-cmd {:default ["npx" "webpack"]
              #_["npx" "esbuild"
                        "--bundle" "'--define:process.env.NODE_ENV=\"production\"'"
                        "--minify"
                        "--outfile=out/main.js"
                        "out/index.js"]}
 :closure-defines {cljs.core/*global* "window"}}
