{:main teet.main
 :closure-extra-annotations ["api" "observable"]
 :externs ["src/externs.js"]
 :target :bundle
 :output-to "out/index.js"
 :output-dir "out"
 :bundle-cmd {:none ["npm" "run" "dev-build"]
              :default ["npm" "run" "build"]}
 :closure-defines {cljs.core/*global* "window"}}
