[{:db/ident :asset-schema/initial-base-schema
  :txes
  [[{:db/ident :tx/author
     :db/valueType :db.type/uuid
     :db/cardinality :db.cardinality/one
     :db/doc "Id of the user who made this transaction"}


    {:db/ident :tx/schema-hash
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "SHA-256 hash of asset schema file"}


    {:db/ident :asset/oid
     :db/doc "Asset/component OID. Format N40-<FCLASS>-<SEQ#>(-<COMPONENT SEQ#>).
For example N40-SLD-1 for the first asset in feature class whose OID prefix is SLD."
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/unique :db.unique/identity}


    {:db/ident :fclass/oid-prefix
     :db/doc "OID prefix for a feature class"
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one}

    {:db/ident :fclass/oid-sequence-number
     :db/doc "Last used OID sequence number"
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :db/noHistory true}


    {:db/ident :asset-schema/label
     :db/valueType :db.type/tuple
     :db/tupleType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "Labels in estonian and english"}
    {:db/ident :asset-schema/description
     :db/valueType :db.type/tuple
     :db/tupleType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "Description in estonian and english"}

    {:db/ident :fclass/fgroup
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/doc "The feature group this feature class belongs to."}

    {:db/ident :ctype/parent
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/doc "Ref to feature class or parent ctype this belongs to."}

    {:db/ident :enum/attribute
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/doc "Reference to attribute this list item belongs to."}

    {:db/ident :asset-schema/unit
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "SI unit for an attribute"}

    {:db/ident :asset-schema/type
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/doc "Schema item type of this entity"}

    {:db/ident :asset-schema.type/fgroup :db/doc "Feature group type"}
    {:db/ident :asset-schema.type/fclass :db/doc "Feature class type"}
    {:db/ident :asset-schema.type/ctype :db/doc "Component type"}
    {:db/ident :asset-schema.type/attribute :db/doc "Attribute type"}
    {:db/ident :asset-schema.type/enum :db/doc "Enum (list item) type"}

    {:db/ident :attribute/parent
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/doc "The fclass or ctype this attribute belongs to"}

    ;; Base attributes of an asset
    {:db/ident :asset/fclass
     :db/doc "The feature class of this asset."
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one}

    {:db/ident :asset/components
     :db/doc "Components of this asset"
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/isComponent true}

    {:db/ident :component/components
     :db/doc "Subcomponents of this component"
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/isComponent true}

    {:db/ident :component/ctype
     :db/doc "The ctype of this component"
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one}

    {:db/ident :component/inherits-location?
     :db/doc "Does this component type inherit location from parent?"
     :db/valueType :db.type/boolean
     :db/cardinality :db.cardinality/one}

    {:db/ident :attribute/min-value
     :db/doc "The minimum value of an attribute or length for strings."
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one}
    {:db/ident :attribute/max-value
     :db/doc "The maximum value of an attribute or length for strings."
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one}

    {:db/ident :attribute/cost-grouping?
     :db/doc "Is this attribute part of cost grouping"
     :db/valueType :db.type/boolean
     :db/cardinality :db.cardinality/one}

    {:db/ident :attribute/mandatory?
     :db/doc "Is this attribute mandatory when creating cost items"
     :db/valueType :db.type/boolean
     :db/cardinality :db.cardinality/one}

    ;; PENDING: one asset can be updated in many projects during
    ;; its lifecycle. Should this be a many to many link
    ;; or multi valued...
    ;; probably a new cost item asset is created in all projects
    ;; and the old asset is changed to superseded state and
    ;; the new one will take precedence.
    {:db/ident :asset/project
     :db/doc "The THK project id this asset is a cost item in"
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one}

    ;; Location of an asset:
    ;; Can be defined as start/end points which can always be
    ;; projected to the road network via Teeregister API.
    ;;
    ;; We also want to store the road address stuff to show it
    ;; and do queries based on it (like: give me assets on road 12122
    ;; between meters 100 to 3000). The road address should be
    ;; saved based on what Teeregister API returns.
    {:db/ident :ctype/location
     :db/doc "Special location component. Location is part of any asset or component (that doesn't inherit location). The location is not a subcomponent but the fields are inlined."}
    ]

   [{:db/ident :location/start-point
     :db/doc "Start point [x y] coordinates."
     :db/tupleType :db.type/bigdec
     :db/valueType :db.type/tuple
     :db/cardinality :db.cardinality/one
     :attribute/parent :ctype/location}

    {:db/ident :location/end-point
     :db/doc "End point [x y] coordinates."
     :db/tupleType :db.type/bigdec
     :db/valueType :db.type/tuple
     :db/cardinality :db.cardinality/one
     :attribute/parent :ctype/location}

    {:db/ident :location/road-nr
     :db/doc "Road number"
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :attribute/parent :ctype/location}

    {:db/ident :location/carriageway
     :db/doc "Carriageway number"
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :attribute/parent :ctype/location}

    {:db/ident :location/start-m
     :db/doc "Start meters of the location"
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :attribute/parent :ctype/location}

    {:db/ident :location/end-m
     :db/doc "End meters of the location. Omitted for point locations."
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :attribute/parent :ctype/location}]]}
 {:db/ident :migration/component-quantification-unit
  :txes [[{:db/ident :component/quantity-unit
           :db/doc "The SI unit for specifying quantity of this. If omitted, quantity is in number of pieces."
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}]]}
 {:db/ident :asset-schema/TEET-1469-min-and-max-value-ref
  :txes
  [[{:db/ident :attribute/min-value-ref
     :db/doc "The minimum value reference of an attribute."
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one}
    {:db/ident :attribute/max-value-ref
     :db/doc "The maximum value reference of an attribute."
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one}]]}
 {:db/ident :migration/cost-group-price
  :txes [[{:db/ident :cost-group/project
           :db/doc "THK project id for this cost group price"
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}
          {:db/ident :cost-group/price
           :db/doc "Price (€) per quantity unit for this cost group"
           :db/valueType :db.type/bigdec
           :db/cardinality :db.cardinality/one}]]}

 {:db/ident :migration/boq-version
  :txes [[{:db/ident :boq-version/project
           :db/doc "THK project this version tag relates to."
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}
          {:db/ident :boq-version/locked?
           :db/doc "Is this version locked?"
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one}
          {:db/ident :boq-version/type
           :db/doc "Ref to type enum"
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one}
          {:db/ident :boq-version/number
           :db/doc "Running version number per type"
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one}
          {:db/ident :boq-version/explanation
           :db/doc "Short explaining free text"
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}
          {:db/ident :boq-version/created-at
           :db/doc "Timestamp when this version was created"
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one}]

         [{:db/ident :boq-version.type/budget
           :enum/attribute :boq-version/type}
          {:db/ident :boq-version.type/tender
           :enum/attribute :boq-version/type}
          {:db/ident :boq-version.type/contract
           :enum/attribute :boq-version/type}]]}

 {:db/ident :migration/tx-schema-import-time
  :txes [[{:db/ident :tx/schema-imported-at
           :db/doc "The timestamp of when the ROTL Excel was imported"
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one}]]}

 {:db/ident :migration/location-offset
  :txes [[{:db/ident :location/start-offset-m
           :db/doc "Offset meters from road at start."
           :db/valueType :db.type/bigdec
           :db/cardinality :db.cardinality/one
           :attribute/parent :ctype/location}
          {:db/ident :location/end-offset-m
           :db/doc "Offset meters from road at end."
           :db/valueType :db.type/bigdec
           :db/cardinality :db.cardinality/one
           :attribute/parent :ctype/location}]]}

 {:db/ident :migration/location-km-accuracy
  :txes [;; Add new km values as bigdec
         [{:db/ident :location/start-km
           :db/doc "Start kilometers (millimeter accuracy)."
           :db/valueType :db.type/bigdec
           :db/cardinality :db.cardinality/one
           :attribute/parent :ctype/location}

          {:db/ident :location/end-km
           :db/doc "End kilometers (millimeter accuracy)."
           :db/valueType :db.type/bigdec
           :db/cardinality :db.cardinality/one
           :attribute/parent :ctype/location}]

         ;; Remove old meter attrs from location ctype
         [[:db/retract :location/start-m :attribute/parent :ctype/location]
          [:db/retract :location/end-m :attribute/parent :ctype/location]]]}

 {:db/ident :migration/materials
  :txes [[{:db/ident :material/fgroups
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/many
           :db/doc "The feature groups this material belongs to."}
          {:db/ident :asset-schema.type/material :db/doc "Material type"}]]}
 {:db/ident :migration/component-materials
  :txes [[{:db/ident :component/materials
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/many
           :db/isComponent true
           :db/doc "The materials for the component"}]]}]
