{:project/update-info {:admin :full, :ta-project-manager :full},
 :meeting/send-notifications
 {:admin :full,
  :ta-project-manager :link,
  :ta-consultant :link,
  :external-consultant :link},
 :task/review {:admin :full, :ta-project-manager :full},
 :task/task-information
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :land/change-cadastral-unit-status
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :read},
 :project/read-comments
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :full,
  :authenticated-guest :read,
  :guest :read},
 :cost-items/add-cost-items
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :link,
  :external-consultant :link},
 :projects/projects-search
 {:admin :read,
  :ta-project-manager :read,
  :ta-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :contracts/contract-listing
 {:admin :read,
  :ta-project-manager :read,
  :ta-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :contracts/contract-details
 {:admin :read,
  :ta-project-manager :read,
  :ta-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :document/delete-comment
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :link,
  :external-consultant :link,
  :authenticated-guest :link},
 :cooperation/edit-3rd-party
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :full},
 :document/upload-document
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :full,
  :authenticated-guest :link,
  :guest :link},
 :maintenance/asset-map
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :projects/projects-map
 {:admin :read,
  :ta-project-manager :read,
  :ta-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :meeting/add-meeting
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :full},
 :cost-items/edit-cost-items
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :link,
  :external-consultant :link},
 :cost-items/finances-listing
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :full},
 :land/see-official-message-reply-subject-from-land-owner
 {:admin :full, :ta-project-manager :full, :ta-consultant :full},
 :task/assign-task
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :link,
  :external-consultant :link},
 :activity/delete-activity {:admin :full},
 :project/write-comments
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :full},
 :document/edit-comment
 {:admin :full,
  :ta-project-manager :link,
  :ta-consultant :link,
  :external-consultant :link,
  :authenticated-guest :link},
 :cooperation/edit-opinion
 {:admin :full, :ta-project-manager :full, :ta-consultant :full},
 :land/create-land-acquisition
 {:admin :full, :ta-project-manager :full},
 :task/reopen {:admin :full, :ta-project-manager :full},
 :project/edit-permissions
 {:admin :full, :ta-project-manager :full, :external-consultant :link},
 :project/project-setup {:admin :full, :ta-project-manager :full},
 :task/comment-task
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :link,
  :authenticated-guest :link},
 :task/create-task {:admin :full, :ta-project-manager :full},
 :activity/activity-budget
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :read,
  :external-consultant :read},
 :maintenance/edit-asset {:admin :full, :ta-project-manager :full},
 :task/actual-cost
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :link},
 :cost-items/locking-unlocking-and-versioning
 {:admin :full, :ta-project-manager :full},
 :meeting/download-attachment
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :full},
 :land/view-land-owner-opinions
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :full},
 :projects/set-comment-visibility
 {:admin :full, :ta-project-manager :full, :ta-consultant :full},
 :document/delete-all-documents
 {:admin :full, :ta-project-manager :full},
 :projects/projects-listing
 {:admin :read,
  :ta-project-manager :read,
  :ta-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :project/read-info
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :full,
  :authenticated-guest :read,
  :guest :read},
 :admin/remove-user {:admin :full, :ta-project-manager :link},
 :admin/add-user {:admin :full, :ta-project-manager :link},
 :cooperation/edit-application
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :full},
 :land/view-cadastral-data
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :full,
  :authenticated-guest :read,
  :guest :read},
 :land/edit-land-acquisition {:admin :full, :ta-project-manager :full},
 :maintenance/asset-search
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :land/save-land-owner-opinions
 {:admin :full, :ta-project-manager :full, :ta-consultant :full},
 :document/update-document-status
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :read,
  :external-consultant :read},
 :project/edit-comments
 {:admin :full,
  :ta-project-manager :link,
  :ta-consultant :link,
  :external-consultant :link},
 :meeting/edit-meeting
 {:admin :full,
  :ta-project-manager :link,
  :ta-consultant :link,
  :external-consultant :link},
 :task/submit-results
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :link,
  :external-consultant :link},
 :activity/activity-info
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :activity/create-activity {:admin :full, :ta-project-manager :full},
 :cost-items/materials-listing
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :full},
 :project/view-internal-comments
 {:admin :full, :ta-project-manager :full, :ta-consultant :full},
 :cooperation/view-cooperation-page
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :full},
 :activity/change-activity-status
 {:admin :full, :ta-project-manager :full},
 :project/delete-comments
 {:admin :full, :ta-project-manager :link, :ta-consultant :link},
 :project/track-comment-status
 {:admin :full, :ta-project-manager :full},
 :admin/change-user-role {:admin :full, :ta-project-manager :link},
 :activity/edit-activity
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :link,
  :external-consultant :link},
 :cost-items/delete-cost-items
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :link,
  :external-consultant :link},
 :task/change-task-status
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :link,
  :external-consultant :link},
 :admin/inspector {:admin :full},
 :admin/manage-indexes {:admin :full},
 :land/initiate-official-message-sending-to-land-owner
 {:admin :full, :ta-project-manager :full, :ta-consultant :full},
 :document/delete-document
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :link,
  :external-consultant :link},
 :document/comment-on-document
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :full,
  :authenticated-guest :link},
 :land/delete-land-owner-opinions
 {:admin :full, :ta-project-manager :full, :ta-consultant :full},
 :maintenance/write-asset {:admin :full, :ta-project-manager :full},
 :contracts/contract-editing {:admin :full, :ta-project-manager :full},
 :admin/set-user-role {:admin :full, :ta-project-manager :link},
 :maintenance/asset-listing
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :document/overwrite-document
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :link,
  :external-consultant :link,
  :authenticated-guest :link,
  :guest :link},
 :contracts/edit-partners {:admin :full, :ta-project-manager :full},
 :maintenance/asset-filtering
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :project/create-shareable-public-link
 {:admin :full, :ta-project-manager :full, :ta-consultant :link},
 :task/delete-task {:admin :full, :ta-project-manager :full},
 :maintenance/read-asset
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :land/view-personal-information-of-estate-owners
 {:admin :full, :ta-project-manager :link},
 :cost-items/cost-items
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :full},
 :document/view-document
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :full,
  :authenticated-guest :read,
  :guest :read},
 :maintenance/delete-asset {:admin :full, :ta-project-manager :full},
 :project/upload-comment-attachment
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :full},
 :maintenance/comment-asset
 {:admin :full,
  :ta-project-manager :full,
  :ta-consultant :full,
  :external-consultant :full,
  :authenticated-guest :full,
  :guest :read},
 :projects/projects-filtering
 {:admin :read,
  :ta-project-manager :read,
  :ta-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :task/delete-task-sent-to-thk {:admin :full}}
