{:task/task-information
 {:admin :full,
  :manager :full,
  :internal-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :land/change-cadastral-unit-status
 {:admin :full,
  :manager :full,
  :internal-consultant :full,
  :external-consultant :read},
 :projects/projects-search
 {:admin :read,
  :manager :read,
  :internal-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :document/delete-comment
 {:admin :full,
  :manager :full,
  :internal-consultant :link,
  :external-consultant :link,
  :authenticated-guest :link},
 :document/upload-document
 {:admin :full,
  :manager :full,
  :internal-consultant :link,
  :external-consultant :link},
 :maintenance/asset-map
 {:admin :full,
  :manager :full,
  :internal-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :projects/projects-map
 {:admin :read,
  :manager :read,
  :internal-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :land/see-official-message-reply-subject-from-land-owner
 {:admin :full, :manager :full, :internal-consultant :full},
 :task/assign-task
 {:admin :full,
  :manager :full,
  :internal-consultant :link,
  :external-consultant :link},
 :activity/delete-activity {:admin :full, :manager :full},
 :land/delete-comments
 {:admin :full, :manager :link, :internal-consultant :link},
 :document/edit-comment
 {:admin :full,
  :manager :link,
  :internal-consultant :link,
  :authenticated-guest :link},
 :land/create-land-acquisition {:admin :full, :manager :full},
 :project/edit-permissions
 {:admin :full, :manager :full, :external-consultant :link},
 :project/project-setup {:admin :full, :manager :full},
 :task/comment-task
 {:admin :full,
  :manager :full,
  :internal-consultant :full,
  :external-consultant :link,
  :authenticated-guest :link},
 :task/create-task {:admin :full, :manager :full},
 :activity/activity-budget
 {:admin :full,
  :manager :full,
  :internal-consultant :read,
  :external-consultant :read},
 :maintenance/edit-asset {:admin :full, :manager :full},
 :task/actual-cost
 {:admin :full,
  :manager :full,
  :internal-consultant :full,
  :external-consultant :link},
 :projects/projects-listing
 {:admin :read,
  :manager :read,
  :internal-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :admin/remove-user {:admin :full},
 :admin/add-user {:admin :full},
 :land/view-cadastral-data
 {:admin :full,
  :manager :full,
  :internal-consultant :full,
  :external-consultant :link,
  :authenticated-guest :read,
  :guest :read},
 :land/edit-land-acquisition {:admin :full, :manager :full},
 :maintenance/asset-search
 {:admin :full,
  :manager :full,
  :internal-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :document/update-document-status
 {:admin :full,
  :manager :full,
  :internal-consultant :read,
  :external-consultant :read},
 :land/write-comments
 {:admin :full,
  :manager :full,
  :internal-consultant :full,
  :authenticated-guest :link},
 :land/read-comments
 {:admin :full,
  :manager :full,
  :internal-consultant :full,
  :external-consultant :link,
  :authenticated-guest :link,
  :guest :read},
 :activity/activity-info
 {:admin :full,
  :manager :full,
  :internal-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :activity/create-activity {:admin :full, :manager :full},
 :activity/change-activity-status {:admin :full, :manager :full},
 :admin/change-user-role {:admin :full},
 :activity/edit-activity
 {:admin :full,
  :manager :full,
  :internal-consultant :link,
  :external-consultant :link},
 :task/change-task-status
 {:admin :full,
  :manager :full,
  :internal-consultant :link,
  :external-consultant :link},
 :land/initiate-official-message-sending-to-land-owner
 {:admin :full, :manager :full, :internal-consultant :full},
 :document/delete-document
 {:admin :full,
  :manager :full,
  :internal-consultant :link,
  :external-consultant :link},
 :document/comment-on-document
 {:admin :full,
  :manager :full,
  :internal-consultant :link,
  :external-consultant :link,
  :authenticated-guest :link},
 :project/project-info
 {:admin :full,
  :manager :full,
  :internal-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :maintenance/write-asset {:admin :full, :manager :full},
 :admin/set-user-role {:admin :full},
 :maintenance/asset-listing
 {:admin :full,
  :manager :full,
  :internal-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :document/overwrite-document
 {:admin :full,
  :manager :full,
  :internal-consultant :link,
  :external-consultant :link},
 :maintenance/asset-filtering
 {:admin :full,
  :manager :full,
  :internal-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :project/create-shareable-public-link
 {:admin :full, :manager :full, :internal-consultant :link},
 :task/delete-task {:admin :full, :manager :full},
 :maintenance/read-asset
 {:admin :full,
  :manager :full,
  :internal-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read},
 :land/edit-comments
 {:admin :full,
  :manager :link,
  :internal-consultant :link,
  :authenticated-guest :link},
 :land/view-personal-information-of-estate-owners
 {:admin :full, :manager :full},
 :document/view-document
 {:admin :full,
  :manager :full,
  :internal-consultant :link,
  :external-consultant :link,
  :authenticated-guest :read,
  :guest :read},
 :maintenance/delete-asset {:admin :full, :manager :full},
 :maintenance/comment-asset
 {:admin :full,
  :manager :full,
  :internal-consultant :full,
  :external-consultant :full,
  :authenticated-guest :full,
  :guest :read},
 :projects/projects-filtering
 {:admin :read,
  :manager :read,
  :internal-consultant :read,
  :external-consultant :read,
  :authenticated-guest :read,
  :guest :read}}
