{:file-management/edit-files
 #{:admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/subcontractor
   :company-contract-employee.role/supervisor
   :company-contract-employee.role/team-member
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :contracts/manage-ta-user-privileges
 #{:admin :ta-project-manager :ta-responsible-person},
 :file-management/edit-task
 #{:admin :ta-project-manager :ta-responsible-person},
 :contracts/edit-contract-metadata
 #{:admin :ta-project-manager :ta-responsible-person},
 :file-management/reopen-task
 #{:admin :ta-project-manager :ta-responsible-person},
 :file-management/submit-activity
 #{:admin
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :materials/review-and-approve-materials
 #{:admin
   :company-contract-employee.role/supervisor
   :ta-project-manager
   :ta-responsible-person},
 :comments/read-and-write-internal-comments
 #{:internal-consultant
   :admin
   :ta-project-manager
   :ta-responsible-person},
 :file-management/reopen-task-part
 #{:admin
   :company-contract-employee.role/supervisor
   :ta-project-manager
   :ta-responsible-person},
 :file-management/review-activity #{:admin :ta-responsible-person},
 :admin/remove-internal-users-from-the-system #{:admin},
 :project-list&dashboard/see-all-projects-in-teet
 #{:internal-consultant
   :admin
   :ta-project-manager
   :ta-responsible-person},
 :file-management/review-task-and-task-part
 #{:internal-consultant
   :admin
   :ta-project-manager
   :ta-responsible-person},
 :file-management/edit-activity
 #{:admin :ta-project-manager :ta-responsible-person},
 :contracts/add-existing-teet-users-to-contract
 #{:admin
   :company-contract-employee.role/company-project-manager
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :contracts/manage-contract-companies
 #{:admin :ta-project-manager :ta-responsible-person},
 :materials/submit-materials
 #{:admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/team-member
   :company-contract-employee.role/company-representative},
 :file-management/submit-tasks-and-task-parts
 #{:admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/supervisor
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :file-management/approve-task-part
 #{:admin
   :company-contract-employee.role/supervisor
   :ta-project-manager
   :ta-responsible-person},
 :comments/track-comment-status
 #{:internal-consultant
   :admin
   :ta-project-manager
   :ta-responsible-person},
 :contracts/add-external-users-to-teet-via-contract
 #{:admin
   :company-contract-employee.role/company-project-manager
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :contracts/manage-team-member-user-privileges
 #{:admin
   :company-contract-employee.role/company-project-manager
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :cooperation/add&edit-opinion-of-competent-authoroty
 #{:internal-consultant
   :admin
   :ta-project-manager
   :ta-responsible-person},
 :admin/edit-users-information #{:admin},
 :company-profile/view-own-company-info-and-manage-related-teet-users
 #{:admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/company-representative},
 :file-management/edit-task-part
 #{:admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/supervisor
   :ta-project-manager
   :ta-responsible-person},
 :project-list&dashboard/see-projects-covered-by-contract
 #{:internal-consultant
   :admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/subcontractor
   :company-contract-employee.role/supervisor
   :company-contract-employee.role/team-member
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :admin/manage-indexes #{:admin},
 :file-management/approve-task
 #{:admin :ta-project-manager :ta-responsible-person},
 :personal-profile/edit-data-on-own-personal-profile
 #{:internal-consultant
   :admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/subcontractor
   :company-contract-employee.role/supervisor
   :company-contract-employee.role/team-member
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :file-management/approve-activity #{:admin :ta-responsible-person}}
