{:meeting/send-notifications
 #{:internal-consultant
   :admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/team-member
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :land/update-cadastral-units
 #{:internal-consultant
   :admin
   :ta-project-manager
   :ta-responsible-person},
 :cost-items/add-cost-items
 #{:internal-consultant
   :admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/team-member
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :comments/delete-other-people-comments #{:admin},
 :contract/approve-key-persons
 #{:admin :ta-project-manager :ta-responsible-person},
 :contract/submit-key-person-for-approval
 #{:admin
   :company-contract-employee.role/company-project-manager
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :activity/review-activity #{:admin :ta-responsible-person},
 :task/edit-task-part
 #{:internal-consultant
   :admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/team-member
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :task/approve-task-part
 #{:admin :ta-project-manager :ta-responsible-person},
 :cost-items/edit-cost-items
 #{:internal-consultant
   :admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/team-member
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :activity/delete-activity #{:admin},
 :comments/read-and-write-internal-comments
 #{:internal-consultant
   :admin
   :ta-project-manager
   :ta-responsible-person},
 :land/manage-land-owner-opinions
 #{:internal-consultant
   :admin
   :ta-project-manager
   :ta-responsible-person},
 :project/edit-project
 #{:admin :ta-project-manager :ta-responsible-person},
 :task/approve-task
 #{:admin :ta-project-manager :ta-responsible-person},
 :document/upload-files
 #{:internal-consultant
   :admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/team-member
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :comments/edit-all-comments #{:admin},
 :document/edit-files
 #{:internal-consultant
   :admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/team-member
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :cost-items/locking-unlocking-and-versioning
 #{:admin :ta-project-manager :ta-responsible-person},
 :task/reopen-task
 #{:admin :ta-project-manager :ta-responsible-person},
 :document/delete-files
 #{:admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/team-member
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :admin/remove-user #{:admin},
 :meeting/delete-meeting
 #{:internal-consultant
   :admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/team-member
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :admin/edit-users #{:admin},
 :meeting/edit-meeting
 #{:internal-consultant
   :admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/team-member
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :contract/edit-contract-metadata
 #{:admin :ta-project-manager :ta-responsible-person},
 :task/edit-task #{:admin :ta-project-manager :ta-responsible-person},
 :contract/edit-company-information
 #{:admin
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :task/submit-task-and-task-parts
 #{:admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/team-member
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :comments/track-comment-status
 #{:internal-consultant
   :admin
   :ta-project-manager
   :ta-responsible-person},
 :meeting/create-meeting
 #{:internal-consultant
   :admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/team-member
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :activity/create-activity
 #{:admin :ta-project-manager :ta-responsible-person},
 :land/manage-land-acquisitions
 #{:internal-consultant
   :admin
   :ta-project-manager
   :ta-responsible-person},
 :contract/manage-company-employees
 #{:admin
   :company-contract-employee.role/company-project-manager
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :activity/edit-activity
 #{:admin :ta-project-manager :ta-responsible-person},
 :cost-items/delete-cost-items
 #{:internal-consultant
   :admin
   :company-contract-employee.role/company-project-manager
   :company-contract-employee.role/team-member
   :ta-project-manager
   :ta-responsible-person
   :company-contract-employee.role/company-representative},
 :admin/inspector #{:admin},
 :admin/manage-indexes #{:admin},
 :task/reopen-task-part
 #{:admin :ta-project-manager :ta-responsible-person},
 :cooperation/manage-opinions-of-competent-authority
 #{:internal-consultant
   :admin
   :ta-project-manager
   :ta-responsible-person},
 :activity/submit-activity
 #{:admin :ta-project-manager :ta-responsible-person},
 :contract/manage-contract-companies
 #{:admin :ta-project-manager :ta-responsible-person},
 :task/review-task-and-task-parts
 #{:internal-consultant
   :admin
   :ta-project-manager
   :ta-responsible-person}}
