[{:db/ident :migration/workflow-initial
  :txes [ ;; Workflow entity
         [{:db/ident :workflow/name
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc "Name of this workflow"}

          {:db/ident :thk/id
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc "The THK projet id a workflow is associated with"}

          {:db/ident :workflow/due-date
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one
           :db/doc "The planned due date"}

          {:db/ident :workflow/phases
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/many}]

         ;; Phase
         [{:db/ident :phase/name
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

          {:db/ident :phase/ordinality
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one}

          {:db/ident :phase/due-date
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one}

          {:db/ident :phase/tasks
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/many}]

         ;; Task
         [{:db/ident :task/name
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

          {:db/ident :task/description
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}

          {:db/ident :task/assignee
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one}

          {:db/ident :task/status
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one}]

         ;; Task status
         [{:db/ident :task.status/timestamp
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one
           :db/doc "When this status update was made"}

          {:db/ident :task.status/status
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/doc "Status in this status update, references :task.status/* enum values"}

          {:db/ident :task.status/user
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/doc "Reference to the user who made this status update"}

          {:db/ident :task.status/comment
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc "Text comment in status update"}]

         ;; Task status types
         [{:db/ident :task.status/not-started}
          {:db/ident :task.status/in-progress}
          {:db/ident :task.status/completed}
          {:db/ident :task.status/accepted}
          {:db/ident :task.status/rejected}]]}

 {:db/ident :document/document-entity
  :txes [[{:db/ident :document/name
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc "Name of the document"}

          {:db/ident :document/size
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/doc "Size of the document in bytes"}

          {:db/ident :document/type
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc "MIME type of the document"}]]}

 {:db/ident :document/task-link
  :txes [[{:db/ident :task/documents
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/many
           :db/doc "Documents attached to a task"}]]}

 {:db/ident :comments-for-task
  :txes [[{:db/ident :comment/comment
           :db/doc "Text of the comment"
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one}
          {:db/ident :comment/author
           :db/doc "Author of the comment"
           :db/cardinality :db.cardinality/one
           :db/valueType :db.type/ref}
          {:db/ident :comment/timestamp
           :db/doc "When to comment was made"
           :db/cardinality :db.cardinality/one
           :db/valueType :db.type/instant}

          ;; Add task comments
          {:db/ident :task/comments
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/many
           :db/doc "Comments for the task"}]]}

 {:db/ident :user-info
  :txes [[{:db/ident :user/id
           :db/doc "UUID of user information. Links to external source."
           :db/valueType :db.type/uuid
           :db/cardinality :db.cardinality/one
           :db/unique :db.unique/identity}]]}


 {:db/ident :phase-names-and-statuses
  :txes [[{:db/ident :enum/attribute
           :db/doc "Correlates different enum values by keyword"
           :db/valueType :db.type/keyword
           :db/cardinality :db.cardinality/one}]

         [;; Phase names
          {:db/ident :phase.name/pre-design :enum/attribute :phase/phase-name}
          {:db/ident :phase.name/preliminary-design  :enum/attribute :phase/phase-name}
          {:db/ident :phase.name/detailed-design :enum/attribute :phase/phase-name}
          {:db/ident :phase.name/land-acquisition :enum/attribute :phase/phase-name}
          {:db/ident :phase.name/construction :enum/attribute :phase/phase-name}
          {:db/ident :phase.name/other :enum/attribute :phase/phase-name}

          ;; Phase statuses
          {:db/ident :phase.status/in-progress :enum/attribute :phase/status}
          {:db/ident :phase.status/research :enum/attribute :phase/status}
          {:db/ident :phase.status/completed :enum/attribute :phase/status}
          {:db/ident :phase.status/valid :enum/attribute :phase/status}
          {:db/ident :phase.status/canceled :enum/attribute :phase/status}
          {:db/ident :phase.status/expired :enum/attribute :phase/status}
          {:db/ident :phase.status/other :enum/attribute :phase/status}

          ;; phase name ref
          {:db/ident :phase/phase-name
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/doc "Phase name enum ref"}

          ;; phase status ref
          {:db/ident :phase/status
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/doc "Phase status enum ref"}]]}

 {:db/ident :phase-dates
  :txes [[{:db/ident :phase/estimated-start-date
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one
           :db/doc "Estimated start date of phase"}
          {:db/ident :phase/estimated-end-date
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one
           :db/doc "Estimated end date of phase"}]]}

 {:db/ident :migration/phase-task-definition
  :txes [[;; Task type
          {:db/ident :task.type/topogeodesy :enum/attribute :task/type}
          {:db/ident :task.type/geology :enum/attribute :task/type}
          {:db/ident :task.type/traffic-study :enum/attribute :task/type}
          {:db/ident :task.type/eia-pre-assessment :enum/attribute :task/type}
          {:db/ident :task.type/animal-study :enum/attribute :task/type}
          {:db/ident :task.type/archeological-study :enum/attribute :task/type}
          {:db/ident :task.type/other :enum/attribute :task/type}

          ;; Task type ref
          {:db/ident :task/type
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/doc "Task type enum ref"}

          ]]}


 {:db/ident :migration/document-files
  :txes [[{:db/ident :document/description
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc "Description of the document"}

          {:db/ident :document/status
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/doc "Link to document status enum"}

          {:db/ident :document.status/draft :enum/attribute :document/status}
          {:db/ident :document.status/final :enum/attribute :document/status}

          {:db/ident :document/files
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/many
           :db/doc "Links to actual file attachments"}

          ;; Actual file attachment info
          {:db/ident :file/name
            :db/valueType :db.type/string
            :db/cardinality :db.cardinality/one
            :db/doc "Name of the file"}

           {:db/ident :file/size
            :db/valueType :db.type/long
            :db/cardinality :db.cardinality/one
            :db/doc "Size of the file in bytes"}

           {:db/ident :file/type
            :db/valueType :db.type/string
            :db/cardinality :db.cardinality/one
            :db/doc "MIME type of the file"}]]}
 {:db/ident :migration/document-comments
  :txes [[{:db/ident :document/comments
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/many
           :db/doc "Comments for the document"}]]}

 {:db/ident :migration/tx-author
  :txes [[{:db/ident :tx/author
           :db/valueType :db.type/uuid
           :db/cardinality :db.cardinality/one
           :db/doc "Id of the user who made this transaction"}]]}

 {:db/ident :migration/file-author-and-time
  :txes [[{:db/ident :file/author
           :db/valueType :db.type/uuid
           :db/cardinality :db.cardinality/one
           :db/doc "Id of the user who uploaded this file"}
          {:db/ident :file/timestamp
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one
           :db/doc "Timestamp of when this file upload was started"}]]}

 {:db/ident :migration/task-status-enum
  :txes [[{:db/ident :task.status/not-started
           :enum/attribute :task/status}
          {:db/ident :task.status/in-progress
           :enum/attribute :task/status}
          {:db/ident :task.status/completed
           :enum/attribute :task/status}
          {:db/ident :task.status/accepted
           :enum/attribute :task/status}
          {:db/ident :task.status/rejected
           :enum/attribute :task/status}]]}

 {:db/ident :migration/task-modified
  :txes [[{:db/ident :task/modified
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one
           :db/doc "Last modification timestamp"}]]}

 {:db/ident :migration/document-modified
  :txes [[{:db/ident :document/modified
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one
           :db/doc "Last modification timestamp for document"}]]}]
