{:buttons {:cancel "Cancel", :save "Save", :add "Add"},
 :common {:general "General"},
 :fields
 {:common {"name" "Name", "description" "Description"},
  "projectgroup" {"phase" "Phase"}},
 :login {:login "Login", :password "Password", :username "Username"},
 :project-groups {:title "Project groups"},
 :projects
 {:title "Projects", :map-view "Map", :list-view "Project list"},
 :search {:quick-search "Search", :clear-filters "Clear filters"}}
