{:admin {:title "Admin", :create-user "Add user"},
 :buttons
 {:cancel "Cancel",
  :save "Save",
  :add "Add",
  :back "Back",
  :edit "Edit"},
 :common
 {:hide-menu "Hide menu",
  :send-feedback "Send feedback",
  :select-files "Select files to upload",
  :back-to-project "Back to project",
  :now "Now",
  :construction-phase "Phase",
  :general "General",
  :design-stage "Stage",
  :construction-phase-activities "Project phases",
  :last-modified "Last modified",
  :language "Language",
  :unassigned "Unassigned",
  :files "Files",
  :back-to-task "Back to task",
  :design-stage-activities "Project stages",
  :select {:empty "- Select value"},
  :clear "Clear"},
 :document {:comments "Comments", :new-comment "New comment"},
 :enum
 {:activity.name/construction "Construction",
  :task.type/other "Other",
  :task.status/rejected "Rejected",
  :activity.name/detailed-design "Detailed design",
  :activity.status/expired "Expired",
  :activity.status/not-started "Not started",
  :activity.status/research "3rd party checking",
  :activity.name/other "Other",
  :task.type/animal-study "Animal study",
  :activity.name/pre-design "Pre design",
  :document.status/final "Final",
  :thk.lifecycle-type/design "Design",
  :activity.name/land-acquisition "Land acquisition",
  :document.status/draft "Draft",
  :task.type/eia-pre-assessment "EIA pre-assessment",
  :activity.status/valid "Valid",
  :task.type/topogeodesy "Topogeodesy",
  :thk.lifecycle-type/construction "Construction",
  :task.type/traffic-study "Traffic study",
  :task.status/accepted "Accepted",
  :task.status/completed "Completed",
  :activity.status/in-progress "In progress",
  :task.type/geology "Geology",
  :activity.status/other "Other",
  :activity.status/completed "Completed",
  :activity.name/preliminary-design "Preliminary design",
  :task.status/in-progress "In progress",
  :task.type/archeological-study "Archeological study",
  :activity.status/canceled "Cancelled",
  :task.status/not-started "Not started"},
 :environment
 {:info-text
  "You are using the development build of teet. Information saved here may be lost.",
  :build-time "Last build happened at",
  :version "Version"},
 :error
 {:authorization-failure "Session expired. Please login again.",
  :server-error "Server error."},
 :fields
 {:document/status "Status",
  :thk.project/manager "Manager",
  :thk.project/project-name "Name",
  :task/type "Task type",
  :task/assignee "Responsible person",
  :thk.project/owner-info "Owner",
  :activity/status "Status",
  :user/family-name "Family name",
  :activity/estimated-start-date "Estimated start date",
  :task/modified "Modified",
  :task/status "Status",
  "projectgroup" {"activity" "Activities"},
  :thk.project/carriageway "Carriageway",
  :common {"name" "Name", "description" "Description"},
  :activity/estimated-end-date "Estimated end date",
  :user/given-name "Given name",
  :user/person-id "Person ID",
  :thk.project/m-range-change-reason "Reason for start/end change",
  :user/roles "Roles",
  :thk.project/effective-km-range "Km range",
  :task/description "Description",
  :document/name "Name",
  :comment/comment "Comment",
  :thk.project/road-nr "Road number",
  :activity/name "Activity name",
  :document/description "Description",
  :thk.project/estimated-date-range "Estimated duration",
  :thk.project/owner "Owner"},
 :login {:login "Login", :password "Password", :username "Username"},
 :map
 {:clear-selections "Clear selections",
  :select-all "Select all",
  :map-layers "Map layers"},
 :project
 {:details-view "Details",
  :map-view "Map",
  :add-activity "Add activity",
  :restrictions-tab "Restrictions",
  :activity {:no-tasks "No tasks defined"},
  :wizard
  {:project-setup "Project setup",
   :basic-information "Basic information",
   :restrictions "Select relevant restrictions",
   :cadastral-units "Select affected cadastral units",
   :activities "Add design activities",
   :skip-setup "Skip setup",
   :step-of "Step {current} of {total}"},
  :add-task "Add task",
  :information
  {:estimated-duration "Estimated duration",
   :road-number "Road number",
   :km-range "Km range",
   :procurement-number "Procurement number",
   :carriageway "Carriageway"},
  :activities "Project activities",
  :cadastral-units-tab "Cadastral units",
  :activities-tab "Activities"},
 :project-groups {:title "Project groups"},
 :projects
 {:title "Projects",
  :map-view "Map",
  :list-view "Project list",
  :unassigned-only "Unassigned projects only"},
 :search {:quick-search "Search", :clear-filters "Clear filters"},
 :task
 {:add-document "Add document",
  :documents "Documents",
  :task-overview "Task overview",
  :no-documents "No documents"},
 :user {:role "My role"}}
