{:activity
 {:note-all-tasks-need-to-be-completed
  "Note: All tasks must be completed before activity can be submitted for review",
  :status "Status",
  :waiting-for-submission "Results have not yet been submitted",
  :submit-results-success "Activity submitted succesfully"},
 :activity-approval
 {:activity.status/archived "Archive this activity",
  :activity.status/canceled "Cancel this activity",
  :activity.status/completed "Approve this activity",
  :approve-activity-confirm
  "Activity status will be set to Completed.",
  :reject-activity-confirm "Activity status will be updated.",
  :submit-for-approval "Submit activity for approval"},
 :admin {:create-user "Add user", :title "Admin"},
 :buttons
 {:confirm "Confirm",
  :continue "Continue",
  :edit "Edit",
  :delete "Delete",
  :save "Save",
  :undo "Undo",
  :back "Back",
  :send "Send",
  :cancel "Cancel",
  :add "Add"},
 :cadastral-group
 {"" "Undefined",
  "Avalik-õiguslik omand" "Public property",
  "Eraomand" "Private property",
  "Kiinistamata eraomand" "Unregistered private property",
  "Munitsipaalomand" "Municipal property",
  "Omand väljaselgitamisel" "Property on identification",
  "Riigiomand" "State owned",
  "Segaomand" "Mixed property"},
 :comment
 {:total-comments "{count} total",
  :mentioned-users "Mentioned users",
  :save "Save comment",
  :comment-as "Commenting as {name}",
  :add-mention "Add mention",
  :unresolved-count "{unresolved-count} unresolved comments",
  :edited "Edited {date}",
  :resolve-all "Resolve all",
  :quote "Quote",
  :resolve "Resolve",
  :unresolve "Unresolve",
  :new-comments "{count} new",
  :add-images "Add images",
  :open-latest-unresolved "Open latest"},
 :common
 {:hide-menu "Hide menu",
  :send-feedback "Send feedback",
  :forbidden-explanation
  "You have tried to access a resource you're not authorized to access.",
  :select-files "Select files to upload",
  :log-out "Log out",
  :back-to-project "Back to project",
  :now "Now",
  :construction-phase "Phase",
  :general "General",
  :unknown "Unknown",
  :deletion-modal-text "Are you sure you want to delete this item?",
  :start-time "Starts at",
  :design-stage "Stage",
  :deselect-all "Deselect all",
  :show-details "Show details",
  :end-time "Ends at",
  :forbidden "Forbidden",
  :construction-phase-activities "Project phases",
  :last-modified "Last modified",
  :added-on "Added on",
  :select-all "Select all",
  :hotkey "key {key}",
  :total "Total",
  :language "Language",
  :unassigned "Unassigned",
  :confirm-deletion "Confirm delete",
  :files "Files",
  :deadline "Deadline",
  :back-to-task "Back to task",
  :n-selected "{count} selected",
  :design-stage-activities "Project stages",
  :select {:empty "- Select value"},
  :clear "Clear"},
 :contact {:address "Address", :email "Email", :phone "Phone"},
 :dashboard
 {:activities-and-tasks "Activities and tasks",
  :my-projects "My projects",
  :no-notifications-for-project
  "You have no notifications related to this project",
  :notifications "Notifications",
  :open "Open",
  :title "Dashboard"},
 :data-tab
 {:cadastral-unit-count "Currently showing {count} cadastral units",
  :restriction-count "Currently showing {count} restrictions"},
 :date-range {:error-text "Possible dates: {start} – {end}"},
 :document
 {:comments "Comments",
  :deleted-notification "Document deleted successfully",
  :file-deleted-notification "File deleted successfully",
  :file-too-large "file is too large",
  :invalid-file-type "file type is not valid",
  :new-comment "New comment",
  :updated "Updated"},
 :enum
 {:estate-procedure.type/acquisition-negotiation
  "Acquisition based on evaluation",
  :activity.name/construction "Construction",
  :task.type/utilities "Utilities",
  :task.type/site-plan "Situation plan",
  :notification.type/activity-accepted
  "Activity has been accepted by project owner",
  :task.type/study-other "Other",
  :document.category/maintenance-doc "Maintenance documentation",
  :document.category/source-doc "Source documentation",
  :task.status/canceled "Canceled",
  :land-acquisition.impact/purchase-not-needed
  "Acquisition not needed",
  :task.type/funding-plan "Funding plan",
  :thk.lifecycle-type/maintenance "Maintenance",
  :comment.status/resolved "Changes implemented",
  :estate-procedure.type/urgent "Urgent procedure",
  :task.type/noise-study "Noise study",
  :task.status/rejected "Rejected",
  :task.status/reviewing "Reviewing",
  :document.category/project-doc "Project documentation",
  :task.type/plot-allocation-plan "Plot allocation plan",
  :task.type/railroad "Railroad",
  :document.sub-category/design-requirements "Design requirements",
  :task.group/design-approval "Design approval",
  :task.type/geological-study "Geological study",
  :activity.status/in-review "In review",
  :land-acquisition.status/in-progress-problematic
  "In progress - problematic ",
  :task.type/property-valuation "Property valuation",
  :notification.type/task-assigned "Task assigned",
  :participation.role/reviewer "Reviewer",
  :file.status/ready "Ready",
  :activity.name/detailed-design "Detailed design",
  :activity.status/expired "Expired",
  :notification.type/task-waiting-for-review "Task waiting for review",
  :file.status/approved "Approved / Valid",
  :task.type/acceptances "Acceptances",
  :document.sub-category/terms-of-reference "Terms of Reference",
  :document.sub-category/report "Report",
  :task.group/design "Design",
  :estate-compensation.reason/forest "Forest",
  :file.status/final "Final",
  :task.type/feasibility-study "Feasibility Study",
  :document.sub-category/procurement-specification
  "Specifications of the procurement",
  :task.status/adjustment "Adjustment",
  :activity.status/not-started "Not started",
  :activity.status/research "3rd party checking",
  :estate-procedure.type/expropriation "Expropriation",
  :task.type/state-estate-registry "State estate registry",
  :task.status/submitted "Submitted",
  :activity.name/other "Other",
  :task.type/animal-study "Animal study",
  :activity.name/pre-design "Pre design",
  :document.sub-category/no-objection-letters "No-objection letters",
  :task.status/waiting-for-review "Waiting for review",
  :thk.lifecycle-type/design "Design",
  :document.sub-category/rsa-exception-report "RSA Exeption Report",
  :task.type/flora-and-fauna-study "Flora/Fauna study",
  :task.type/lighting "Lighting",
  :task.type/purchase-agreements
  "Concluding contracts with landowners",
  :task.type/environmental-impact-assessment
  "Environmental Impact Assessment (EIA)",
  :activity.status/in-preparation "In preparation",
  :document.sub-category/geological-basis "Geological basis",
  :task.group/design-reports "Design reports",
  :activity.name/land-acquisition "Land acquisition",
  :land-acquisition.impact/undecided "Undecided",
  :notification.type/comment-resolved "Comment resolved",
  :task.type/terms-of-reference "Terms of reference",
  :thk.task-type/road-safety-audit "Road safety audit",
  :task.type/calculation-of-pavement "Calculation of pavement",
  :document.sub-category/laboratory-certificate
  "Laboratory Certificate",
  :task.type/cost-list "Cost list",
  :task.type/eia-pre-assessment "EIA pre-assessment",
  :task.group/study "Studies",
  :file.status/draft "Draft",
  :notification.type/comment-created "New comment",
  :activity.status/archived "Archived",
  :activity.status/valid "Valid",
  :comment.visibility/all "Public",
  :comment.visibility/internal "Visible internally",
  :comment.status/unresolved "Changes not yet implemented",
  :task.type/topogeodesy "Topogeodesy",
  :land-acquisition.status/in-progress-ready
  "In progress - ready for construction ",
  :task.type/equipment "Equipment",
  :task.type/structures "Structures",
  :activity.name/design-requirements "Design requirements",
  :task.type/calculation "Calculation",
  :land-acquisition.status/in-progress "In progress ",
  :participation.role/organizer "Organizer",
  :task.type/design-road-safety-audit "Design road safety audit",
  :thk.task-type/third-party-review "3rd party review",
  :document.sub-category/photo "Photo",
  :thk.lifecycle-type/construction "Construction",
  :task.type/road-safety-audit-design "Road safety audit",
  :participation.role/participant "Participant",
  :estate-procedure.type/property-rights
  "Issuing right for using property",
  :document.sub-category/drawing "Drawing",
  :task.type/traffic-study "Traffic study",
  :task.status/accepted "Accepted",
  :task.type/allotment-plan "Allotment plan",
  :estate-compensation.reason/crops "Crops",
  :thk.task-type/design-requirements "Design requirements",
  :task.group/base-data "Base data ",
  :task.status/completed "Completed",
  :task.type/building-permit "Building permit",
  :task.type/land-owners "Land-owners",
  :task.type/acceptances-no-objection
  "Acceptances (No-objection co-ordination)",
  :thk.task-type/environmental-impact-assessment
  "Environmental Impact Assessment (EIA)",
  :document.sub-category/drill-posts "Drill posts",
  :notification.type/activity-waiting-for-review
  "Activity waiting for review",
  :activity.status/in-progress "In progress",
  :land-acquisition.impact/purchase-needed "Acquisition needed",
  :task.status/assigned "Assigned",
  :notification.type/project-manager-assigned
  "You have been assigned as project manager",
  :task.type/geology "Geology",
  :notification.type/task-review-rejected "Task review rejected",
  :land-acquisition.status/completed "Completed",
  :task.status/in-preparation "In preparation",
  :document.category/as-built-doc "Construction documentation",
  :task.type/cadastral-works "Cadastral works",
  :activity.status/other "Other",
  :notification.type/activity-rejected
  "Activity has been archived or cancelled by project owner",
  :task.type/technical-conditions "Technical conditions",
  :estate-procedure.type/property-trading "Exchange",
  :estate-compensation.reason/loss-of-living-space
  "Loss of living space",
  :task.type/no-objection-coordination "No-objection co-ordination",
  :task.type/landscaping "Landscaping",
  :file.status/invalid "Invalid",
  :estate-compensation.reason/road-area "Road area",
  :notification.type/comment-mention "You were mentioned in a comment",
  :task.type/third-party-review "3rd party review",
  :thk.task-type/study "Study",
  :document.sub-category/explanatory-letter "Explanatory letter ",
  :estate-compensation.reason/premature-ending-of-agricultural-agreement
  "Premature ending of agricultural agreement",
  :task.type/cleanup "Registering state estate",
  :notification.type/comment-unresolved "Comment unresolved",
  :task.type/general-part "General part",
  :activity.status/completed "Completed",
  :activity.name/preliminary-design "Preliminary design",
  :task.status/in-progress "In progress",
  :task.type/drainage "Drainage",
  :task.type/design-requirements "Design requirements",
  :file.status/updated "Updated",
  :task.type/other-facilities "Other facilities",
  :task.type/preliminary-agreements "Preliminary agreements",
  :task.type/buildings "Buildings",
  :thk.task-type/building-permit "Building permit",
  :document.sub-category/presentation "Presentation / Visual",
  :estate-compensation.reason/other "Other",
  :task.type/archeological-study "Archaeological study",
  :document.sub-category/study-plan "Study Plan",
  :document.sub-category/calculation-report "Calculation report",
  :task.type/data "Data",
  :estate-compensation.reason/increase-of-journey
  "Increase of journey",
  :task.group/land-purchase "Land purchase",
  :activity.status/canceled "Cancelled",
  :document.sub-category/table-of-content "Table of Content",
  :task.status/not-started "Not started",
  :task.type/road "Road"},
 :environment
 {:build-time "Last build happened at",
  :info-text
  "You are using the development build of teet. Information saved here may be lost.",
  :version "Version"},
 :error
 {:authorization-failure "Session expired. Please login again.",
  :invalid-task-dates "Check task dates",
  :user-is-already-participant "User is already participant",
  :server-error "Server error.",
  :invalid-x-road-response "Invalid response from X-road",
  :permission-already-granted
  "Permission for this user is already granted",
  :conflicting-activities
  "Only one activity of a type can be active at the same time.",
  :request-timeout "The server did not respond.",
  :invalid-activity-dates "Check activity dates",
  :bad-request "Bad request"},
 :fields
 {:land-acquisition/registry-number "State estate registry number",
  :comment/visibility "Visibility",
  :task/send-to-thk? "Separate contract (in THK)",
  :thk.project/manager "Project manager",
  :thk.project/project-name "Name",
  :task/thk-type "THK type",
  :task/type "Task type",
  :task/actual-end-date "End date",
  :meeting/title "Title",
  :estate-procedure/process-fees "Processing fees",
  :thk.project/activity-status "Status",
  :meeting/date-and-time "Date and time",
  :task/assignee "Responsible person",
  :land-exchange/price-per-sqm "Price/m²",
  :thk.project/owner-info "Owner",
  :activity/manager "Project manager",
  :activity/status "Status",
  :task/group "Task group",
  :file/version "Version",
  :estate-procedure/pos "POS#",
  :user/family-name "Family name",
  :estate-procedure/compensations "Compensations",
  :estate-procedure/third-party-compensations
  "Third party compensations",
  :project/participant "Participant",
  :land-acquisition/price-per-sqm "Price/m²",
  :activity/estimated-start-date "Estimated start date",
  :estate-procedure/motivation-bonus "Motivation fee",
  :task/modified "Modified",
  :estate-procedure/land-exchanges "State land to be given",
  :file/number "Number",
  :task/status "Status",
  :file/size "Size",
  :thk.project/end-km "End km",
  :thk.project/start-km "Start km",
  "projectgroup" {"activity" "Activities"},
  :permission/role "Roles",
  :land-exchange/area "Area",
  :meeting.decision/body "Decision",
  :meeting/agenda "Agenda",
  :thk.project/carriageway "CW",
  :land-acquisition/status "Status",
  :common {"description" "Description", "name" "Name"},
  :land-acquisition/pos-number "POS#",
  :meeting.agenda/responsible "Responsible person",
  :document/sub-category "Document subtype",
  :user/add-global-permission
  "Add global role (applies to all projects)",
  :land-exchange/cadastral-unit-id "Cadastral unit id",
  :activity/estimated-end-date "Estimated end date",
  :user/given-name "Given name",
  :user/person-id "Person ID",
  :thk.project/m-range-change-reason "Reason for start/end change",
  :task/estimated-start-date "Estimated start date",
  :meeting.agenda/topic "Topic",
  :comment/track? "Track status",
  :user/roles "Roles",
  :document/author "Author",
  :file/name "Name",
  :thk.project/effective-km-range "Km range",
  :task/description "Description",
  :thk.project/region-name "Region",
  :estate-procedure/urgent-bonus "Urgent fee",
  :comment/comment "Comment",
  :file/timestamp "Upload date",
  :user/email "Email",
  :land-acquisition/area-to-obtain "Area to obtain",
  :meeting/location "Location",
  :thk.project/repair-method "Method",
  :land-acquisition/impact "Impact",
  :estate-compensation/reason "Reason",
  :file/type "Type",
  :task/actual-start-date "Start date",
  :meeting/organizer "Organizer",
  :thk.project/road-nr "Road number",
  :task/estimated-end-date "Estimated end date",
  :activity/name "Activity name",
  :estate-compensation/amount "Amount",
  :document/category "Document type",
  :file/description "Description",
  :meeting.agenda/body "Body",
  :estate-procedure/type "Procedure type",
  :thk.project/road-name "Road name",
  :thk.project/estimated-date-range "Estimated duration",
  :file/status "Status",
  :thk.project/owner "Owner"},
 :file
 {:upload-new-version "Upload new version",
  :old-version "Old version",
  :show-preview "Show preview",
  :edit "Edit file",
  :upload-info "Uploaded {date} by {author}",
  :hide-preview "Hide preview",
  :other-versions "Other versions",
  :switch-to-latest-version "Switch back to latest version",
  :sort-by
  {:file/name "Sort by name",
   :file/status "Sort by status",
   :file/type "Sort by file type",
   :meta/created-at "Sort by date"},
  :download "Download file"},
 :land
 {:show-owner-info "Show owner information",
  :no-active-mortgages
  "This estate does not have any active mortgages",
  :total-area "Total area {area} m²",
  :unreliable "Bad data quality",
  :new-cadastral-unit "NEW",
  :estate-compensation-success "Estate compensation saved",
  :unit "unit",
  :no-estate-compensations
  "No saved estate compensations for this estate",
  :no-owner-info "Units don't have any owner information",
  :unit-info "Cadastral unit info",
  :total-cost "Total cost",
  :land-exchange "Exchange",
  :add-compensation "+ Add compensation",
  :archived-unit "(Archived)",
  :estate-acquisition-cost "Estate acquisition cost",
  :estate "Estate",
  :land-acquisition-saved "Land acquisition saved successfully",
  :net-area-balance "Net balance {area} m²",
  :cadastral-unit-number "Cadastral unit number",
  :filter {:quality "Land data quality"},
  :no-position-number
  "Cadastral unit has no position number. No files to show.",
  :estate-data "Estate data",
  :table-heading
  {:area "Area", :cost "Cost", :recipient "Recipient", :type "Type"},
  :no-active-burdens "This estate does not have any active burdens",
  :owner-filter-label "Owner",
  :unit-valuations "Unit valuations",
  :cadastral-filter-label "Cadastral",
  :unit-name-id "Unit name and id",
  :quality
  {:any "Any",
   :bad "Bad",
   :good "Good (L-Est)",
   :questionable "Questionable"},
  :filter-label "Filter units",
  :total-excluding-process "Total excluding process fees:",
  :no-estate-id "Units don't have any estate ids",
  :units "units",
  :estate-info-fetch-failure
  "Couldn't fetch information from xroad. Please try again and if error persists contact system administrator.",
  :estate-filter-label "Estate",
  :no-land-acquisitions "No land acquisitions for this estate",
  :fetching-land-units "Fetching land units",
  :refresh-estate-info "Refresh estates",
  :add-owner "+ Add owner",
  :owner-data "Owner data"},
 :land-modal-page
 {:owner-info "Owners",
  :no-burdens "No burdens",
  :no-comments "No comments",
  :burdens "Burdens",
  :comments "Comments",
  :mortgages "Mortgages",
  :modal-title
  {:burdens "Burdens",
   :comments "Comments",
   :costs "Acquisition costs",
   :files "Files attached to this unit",
   :mortgages "Mortgages"},
  :costs "Acquisition costs",
  :mortgage "Mortgage",
  :comment "Comment",
  :files "Files attached to this unit",
  :burden "Burden",
  :no-mortgages "No mortgages"},
 :login
 {:login "Login",
  :password "Password",
  :username "Username",
  :greetings-text
  "Road life cycle information management and common data environment TEET"},
 :map
 {:aerial-view "Aerial view",
  :clear-selections "Clear selections",
  :display "Map display",
  :layers
  {:no-filters "No filters available.",
   :projects "Projects",
   :restrictions "Restrictions",
   :teeregister "Road registry layers",
   :heritage "Heritage ",
   :eelis "EELIS",
   :layer "layer",
   :heritage-protection-zones "Heritage protection zone",
   :cadastral-units "Cadastral units",
   :no-layers "No map layers",
   :land-surveys "Land surveys"},
  :map-layers "Map layers",
  :select-all "Select all"},
 :meeting
 {:notifications-help
  "Send notifications to meeting participants about relevant changes to the meeting contents.",
  :add-non-teet-participant "Add person not in TEET",
  :add-decision-button "Add decision",
  :participant-removed "Participant removed",
  :edit-meeting-modal-title "Edit meeting",
  :activity-meetings-title "{activity-name} meetings",
  :new-meeting-modal-title "New meeting",
  :participants-title "Participants",
  :meetings-title "Meetings",
  :no-meetings "No meetings",
  :send-notification-to-participants "{count} participants",
  :add-agenda-button "Add new topic",
  :new-decision-modal-title "Create a new decision",
  :edit-decision-modal-title "Edit decision",
  :new-meeting-button "Create meeting",
  :project-meetings-title "Project meetings",
  :notifications-title "Notifications",
  :edit-agenda-modal-title "Edit topic",
  :new-agenda-modal-title "New topic",
  :add-person "Add person",
  :notifications-sent "Calendar notification sent",
  :decision-topic "{topic} decision #{num}"},
 :notifications
 {:no-unread-notifications "No unread notifications",
  :topic-deleted "Topic deleted successfully",
  :task-status-updated "Task status updated successfully",
  :meeting-deleted "Meeting deleted successfully",
  :meeting-updated "Meeting updated successfully",
  :task-deleted "Task deleted successfully",
  :permission-added-successfully "Permission added successfully",
  :decision-updated "Decision updated successfully",
  :meeting-created "Meeting created successfully",
  :comments-resolved "Comments resolved successfully",
  :comment-edited "Comment edited successfully",
  :comment-deleted "Comment deleted successfully",
  :activity-created "Activity created succesfully",
  :decision-deleted "Decision deleted successfully",
  :permission-revoked "Permission revoked successfully",
  :decision-created "Decision created successfully",
  :task-created "Task created successfully",
  :comment-status-changed "Comment status changed successfully",
  :restrictions-updated "Restrictions updated succesfully",
  :task-updated "Task edited successfully",
  :tasks-created "Tasks created successfully",
  :activity-deleted "Activity deleted successfully",
  :mark-all-read "Mark all read",
  :activity-updated "Activity updated successfully",
  :cadastral-units-updated "Cadastral units updated successfully"},
 :page-title {:project-list "{name} project"},
 :people-tab
 {:active "ACTIVE",
  :consultants "Consultants",
  :hide-history "Hide history",
  :invite-user "Invite new user to TEET",
  :managers "Managers",
  :no-other-users "No other users",
  :other-users "Other users",
  :show-history "Show history"},
 :project
 {:add-users "Add users",
  :remove-from-project "Remove from project",
  :details-view "Details",
  :map-view "Map",
  :project-updated "Project updated successfully",
  :new-activity "Add activity",
  :add-activity
  #:thk.lifecycle-type{:construction "Add stage", :design "Add phase"},
  :tabs
  {:activities "Activities",
   :details "Details",
   :land "Land",
   :people "People",
   :restrictions "Restrictions",
   :road-objects "Road objects",
   :meetings "Meetings"},
  :edit-activity "Edit activity",
  :restrictions-tab "Restrictions",
  :download-related-info "Download related info",
  :edit-comment "Edit comment",
  :show-timeline "Show project timeline",
  :edit-task "Edit task",
  :activity {:no-tasks "No tasks defined"},
  :edit-project "Edit project",
  :wizard
  {:restrictions "Select relevant restrictions",
   :setup-incomplete "Project setup incomplete",
   :project-setup "Project setup",
   :step-of "Step {current} of {total}",
   :selected-count "{selected} of {total} selected",
   :basic-information "Basic information",
   :activities "Add design activities",
   :cadastral-units "Select affected cadastral units",
   :skip-setup "Skip setup"},
  :add-task "Add task",
  :draw-selection
  {:deselect "Deselect areas",
   :link "Draw selection on map",
   :select "Select areas"},
  :information
  {:carriageway "CW",
   :estimated-duration "Estimated duration",
   :km-range "Km range",
   :procurement-number "Procurement number",
   :repair-method "Method",
   :road-number "Road number"},
  :add-tasks "Add tasks",
  :activities "Project activities",
  :cadastral-units-tab "Lands",
  :edit-project-details-modal-title "Edit project details",
  :no-selected-restrictions
  "No selected restrictions for this project",
  :activities-tab "Activities"},
 :project-groups {:title "Project groups"},
 :projects
 {:filters
  {:all "All projects",
   :my-projects "My projects",
   :unassigned-only "Unassigned projects only"},
  :list-view "Project list",
  :map-view "Map",
  :no-activities "No activities",
  :title "Projects"},
 :roles
 {:authenticated-guest "Authenticated guest",
  :external-consultant "External consultant",
  :guest "Guest",
  :internal-consultant "Internal consultant",
  :manager "Project manager",
  :owner "Owner"},
 :search {:clear-filters "Clear filters", :quick-search "Search"},
 :search-area
 {:filter-by-distance "Filter by distance",
  :inclusion-areas "Inclusion areas",
  :select-relevant-restrictions "Select relevant restrictions",
  :waiting-for-area "Waiting for area",
  :inclusion-distance "Inclusion distance",
  :select-relevant-cadastral-units "Select relevant Cadastral units",
  :restriction-results-by-buffer
  "Found {count} restrictions within {meters} meters.",
  :restriction-results-by-area
  "Found {count} restrictions within the defined inclusion areas.",
  :cadastral-results-by-buffer
  "Found {count} cadastral units within {meters} meters.",
  :cadastral-results-by-area
  "Found {count} restrictions within the defined inclusion areas.",
  :filter-by-area "Filter by area",
  :inclusion-distance-placeholder "Give value to show related areas",
  :component-title "Related features search area"},
 :tab-names {:details "Details", :notes "Notes"},
 :task
 {:task-overview "Task overview",
  :upload-files "Upload files",
  :edit-document "Edit document",
  :create-success-notification "Task created successfully",
  :start-review-success "Review started",
  :accept-review "Accept review",
  :reject-review "Reject review",
  :documents "Documents",
  :add-document "Add document",
  :submit-results "Submit results",
  :submit-results-success "Results submitted successfully",
  :submit-results-confirm
  "Are you sure you want to submit the results to {task}?",
  :no-documents "No documents",
  :edit-success-notification "Task edited successfully",
  :results "Results"},
 :user
 {:autocomplete
  {:loading "Searching users...",
   :no-options "User not found",
   :placeholder "Type name..."},
  :role "Role",
  :unregistered "Unregistered user"},
 :warning
 {:deploying
  "A new version of the application is being deployed. Please wait for a few minutes and refresh the page.",
  :version-mismatch
  "A new version of the application has been deployed. Please refresh the page."}}
