{:buttons {:cancel "Tühista", :save "Salvesta", :add "Lisa"},
 :common {:general "Üldine", :select {:empty "Vali"}},
 :enum
 {:phase.name/land-acquisition "Maade omandamine",
  :task.type/other "Muu",
  :phase.status/in-progress "Tegemisel",
  :phase.status/other "Muu",
  :phase.name/pre-design "Eskiisprojekt",
  :phase.name/other "Muu",
  :phase.name/preliminary-design "Eelprojekt",
  :phase.status/completed "Valmis",
  :task.type/animal-study "Loomastikuuring",
  :phase.status/canceled "Katkestatud",
  :phase.name/construction "Ehitus",
  :task.type/eia-pre-assessment "KMH eelhinnang",
  :task.type/topogeodesy "Topogeodeesia",
  :task.type/traffic-study "Liiklusuuring",
  :phase.name/detailed-design "Põhiprojekt",
  :phase.status/expired "Aegunud",
  :phase.status/research "Ekspertiisis",
  :task.type/geology "Geoloogia",
  :phase.status/valid "Kehtiv",
  :task.type/archeological-study "Argeoloogiline uuring"},
 :fields
 {:phase/status nil,
  :task/type nil,
  :task/assignee nil,
  :phase/estimated-start-date nil,
  "projectgroup" {"phase" "Etapp"},
  :phase/estimated-end-date nil,
  :common {"name" "Nimi", "description" "Kirjeldus"},
  :task/description "Kirjeldus",
  :phase/phase-name "Etapp nimi"},
 :login {:login "Sisenen", :password "Salasõna", :username "Kasutaja"},
 :project
 {:add-phase "Lisa etapp",
  :add-task nil,
  :phases "Projekti etapid",
  :phase {:no-tasks nil}},
 :project-groups {:title "Projektirühmad"},
 :projects
 {:title "Projektid",
  :map-view "Kaart",
  :list-view "Projektide loetelu"},
 :search {:quick-search "Otsi", :clear-filters "Puhasta filtrid"}}
