{:buttons {:cancel "Tühista", :save "Salvesta", :add "Lisa"},
 :common
 {:clear "Puhasta",
  :general "Üldine",
  :select {:empty "Vali"},
  :select-files "Vali mitu faili",
  :files "Failid",
  :back-to-task "Tagasi ülesandesse",
  :back-to-project "Tagasi projekti"},
 :document {:comments "Märkused", :new-comment "Uus märkus"},
 :enum
 {:phase.name/land-acquisition "Maade omandamine",
  :task.type/other "Muu",
  :phase.status/in-progress "Tegemisel",
  :phase.status/other "Muu",
  :phase.name/pre-design "Eskiisprojekt",
  :phase.name/other "Muu",
  :phase.name/preliminary-design "Eelprojekt",
  :phase.status/completed "Valmis",
  :task.type/animal-study "Loomastikuuring",
  :phase.status/canceled "Katkestatud",
  :phase.name/construction "Ehitus",
  :task.type/eia-pre-assessment "KMH eelhinnang",
  :task.type/topogeodesy "Topogeodeesia",
  :task.type/traffic-study "Liiklusuuring",
  :phase.name/detailed-design "Põhiprojekt",
  :phase.status/expired "Aegunud",
  :phase.status/research "Ekspertiisis",
  :task.type/geology "Geoloogia",
  :phase.status/valid "Kehtiv",
  :task.type/archeological-study "Argeoloogiline uuring"},
 :fields
 {:phase/status "Olek",
  :task/type "Ülesandetüüp",
  :task/assignee "Vastutav isik",
  :phase/estimated-start-date "Eeldatav alguskuupäev",
  "projectgroup" {"phase" "Etapp"},
  :phase/estimated-end-date "Eeldatav lõppkuupäev",
  :common {"name" "Nimi", "description" "Kirjeldus"},
  :task/description "Kirjeldus",
  :comment/comment "Märkus",
  :phase/phase-name "Etapp nimi"},
 :login {:login "Sisenen", :password "Salasõna", :username "Kasutaja"},
 :project
 {:add-phase "Lisa etapp",
  :add-task "Lisa ülesanne",
  :phases "Projekti etapid",
  :phase {:no-tasks "Ülesandeid pole"}},
 :project-groups {:title "Projektirühmad"},
 :projects
 {:title "Projektid",
  :map-view "Kaart",
  :list-view "Projektide loetelu"},
 :search {:quick-search "Otsi", :clear-filters "Puhasta filtrid"},
 :task {:add-document "Lisa dokument"}}
