{:activity
 {:note-all-tasks-need-to-be-completed
  "Kõik ülesanded peavad olema lõpetatud enne kui tegevuse saab ülevaatamiseks saata",
  :status "Olek",
  :waiting-for-submission "Tulemusi ei ole veel esitatud"},
 :activity-approval
 {:activity.status/archived "Arhiveerin tegevuse",
  :activity.status/canceled "Katkestan tegevuse",
  :activity.status/completed "Kinnitan tegevuse",
  :approve-activity-confirm "Tegevuse staatus märgitakse lõpetatuks",
  :reject-activity-confirm "Tegevuse staatus uuendatakse",
  :submit-for-approval "Esitan tegevuse"},
 :admin {:create-user "Lisan kasutaja", :title "Admin"},
 :buttons
 {:add "Lisan",
  :back "Tagasi",
  :cancel "Tühistan",
  :confirm "Kinnitan",
  :continue "Jätkan",
  :delete "Kustutan",
  :edit "Muudan",
  :save "Salvestan"},
 :cadastral-group
 {"" "Määratlemata",
  "Avalik-õiguslik omand" "Avalik-õiguslik omand",
  "Eraomand" "Eraomand",
  "Kiinistamata eraomand" "Kinnistamata eraomand",
  "Munitsipaalomand" "Munitsipaalomand",
  "Omand väljaselgitamisel" "Omand väljaselgitamisel",
  "Riigiomand" "Riigiomand",
  "Segaomand" "Segaomand"},
 :comment
 {:mentioned-users "Mainitud kasutajad",
  :save "Salvestan kommentaari",
  :comment-as "Kommenteerimine kui {name}",
  :add-mention "Lisage mainimine",
  :unresolved-count "{unresolved-count} lahendamata märkust",
  :edited "Muudetud {date}",
  :resolve-all "Lahendan kõik",
  :quote "Tsiteerin",
  :resolve "Lahendan",
  :unresolve "Märgin mittelahendatuks",
  :add-images "Lisan pildid",
  :open-latest-unresolved "Avan uusimad"},
 :common
 {:hide-menu "Peidan menüü",
  :send-feedback "Saadan tagasisidet",
  :forbidden-explanation "Puuduvad juurdepääsu õigused",
  :select-files "Valin fail(id)",
  :log-out "Väljun",
  :back-to-project "Tagasi projekti",
  :now "Nüüd",
  :construction-phase "Ehitusetapp",
  :general "Üldine",
  :unknown "Teadmata",
  :deletion-modal-text
  "Oled sa kindel, et soovid selle üksuse kustutada?",
  :design-stage "Staadium",
  :deselect-all "Tühistan kõik valikud",
  :forbidden "Keelatud",
  :construction-phase-activities "Faasid",
  :last-modified "Viimati muudetud",
  :added-on "Lisatud",
  :select-all "Vali kõik",
  :language "Keel",
  :unassigned "Määramata",
  :confirm-deletion "Kinnitan kustutamise",
  :files "Failid",
  :deadline "Tähtaeg",
  :back-to-task "Tagasi ülesandesse",
  :design-stage-activities "Ülesanded",
  :select {:empty "- Valin"},
  :clear "Puhastan"},
 :dashboard
 {:notifications "Teatised",
  :activities-and-tasks "Tegevused ja ülesanded",
  :my-projects "Minu projektid"},
 :data-tab
 {:cadastral-unit-count "Praegu kuvatakse {count} katastriüksus(t)",
  :restriction-count "Praegu kuvatakse {count} kitsendus(t)"},
 :date-range {:error-text "Võimalikud kuupäevad: {start} – {end}"},
 :document
 {:comments "Märkused",
  :deleted-notification "Dokument edukalt kustutatud",
  :file-deleted-notification "Fail edukalt kustutatud",
  :file-too-large "Fail on liiga suur",
  :invalid-file-type "Failitüüp ei ole toetatud",
  :new-comment "Uus märkus",
  :updated "Uuendatud"},
 :enum
 {:estate-procedure.type/acquisition-negotiation
  "Omandamine läbirääkimiste teel",
  :activity.name/construction "Ehitus",
  :task.type/utilities "Tehnovõrgud",
  :task.type/eia-assessment "Keskkonnamõju hindamine (KMH)",
  :task.type/site-plan "Asendiplaan",
  :notification.type/activity-accepted
  "Tegevus on vastu võetud omaniku poolt",
  :task.type/other "Muu",
  :document.category/maintenance-doc "Hooldedokumentatsioon",
  :document.category/source-doc "Lähtedokumentatsioon",
  :task.status/canceled "Tühistatud",
  :land-acquisition.impact/purchase-not-needed
  "Omandamine ei ole vajalik",
  :task.type/funding-plan "Rahastamiskava",
  :thk.lifecycle-type/maintenance "Hoole",
  :comment.status/resolved "Muudatused sisse viidud",
  :estate-procedure.type/urgent "Kiirmenetlus",
  :task.type/noise-study "Mürauuring",
  :task.status/rejected "Tagasi lükatud",
  :task.status/reviewing "Ülevaatamisel",
  :document.category/project-doc "Projektdokumentatsioon",
  :task.type/plot-allocation-plan
  "Ümberkruntimiskava (krundijaotuskava)",
  :task.type/railroad "Raudtee",
  :document.sub-category/design-requirements
  "Projekteerimistingimused",
  :task.group/design-approval "Projekti heakskiitmine",
  :task.type/geological-study "Geoloogiline uuring",
  :activity.status/in-review "Ülevaatamisel",
  :land-acquisition.status/in-progress-problematic "Töös - probleemne",
  :task.type/property-valuation "Hindamine",
  :notification.type/task-assigned "Määratud ülesanne",
  :file.status/ready "Valmis",
  :activity.name/detailed-design "Põhiprojekt",
  :activity.status/expired "Aegunud",
  :notification.type/task-waiting-for-review
  "Ülesanne ootab ülevaatamist",
  :file.status/approved "Kinnitatud / Kehtiv",
  :task.type/acceptances "Kooskõlastused",
  :document.sub-category/terms-of-reference "Lähteülesanne",
  :document.sub-category/report "Aruanne",
  :task.group/design "Projekt",
  :estate-compensation.reason/forest "Mets",
  :file.status/final "Lõplik",
  :task.type/feasibility-study "Teostatavusuuring",
  :document.sub-category/procurement-specification
  "Hanke tehnilised tingimused",
  :task.status/adjustment "Täiendamisel",
  :activity.status/not-started "Ei ole alustatud",
  :activity.status/research "Ekspertiisis",
  :estate-procedure.type/expropriation "Sundvõõrandamine",
  :task.type/state-estate-registry "Riigivara registrisse kandmine",
  :task.status/submitted "Esitatud",
  :activity.name/other "Muu",
  :task.type/animal-study "Loomastiku uuring",
  :activity.name/pre-design "Eskiisprojekt",
  :document.sub-category/no-objection-letters "Kooskõlastused",
  :task.status/waiting-for-review "Ootab ülevaatamist",
  :thk.lifecycle-type/design "Projekteerimine",
  :document.sub-category/rsa-exception-report
  "Eriarvamuste aruanne (LOA)",
  :task.type/flora-and-fauna-study "Flora ja fauna uuring",
  :task.type/lighting "Valgustus",
  :task.type/purchase-agreements "Lepingute sõlmimine",
  :task.type/environmental-impact-assessment
  "Keskkonna mõju hindamine (KMH)",
  :document.sub-category/geological-basis "Geoalus",
  :task.group/design-reports "Projekti väljundid",
  :activity.name/land-acquisition "Maade omandamine",
  :land-acquisition.impact/undecided "Otsus puudub",
  :notification.type/comment-resolved "Lahendatud",
  :task.type/terms-of-reference "Lähteülesanne",
  :thk.task-type/road-safety-audit
  "Liiklusohutuse audit (eelprojekt, põhiprojekt)",
  :task.type/calculation-of-pavement "Katendiarvutus",
  :document.sub-category/laboratory-certificate "Laboriprotokoll",
  :task.type/cost-list "Kululoend",
  :task.type/eia-pre-assessment "KMH eelhinnang",
  :task.group/study "Uuringud",
  :file.status/draft "Mustand",
  :notification.type/comment-created "Uus kommentaar",
  :activity.status/archived "Arhiveeritud",
  :activity.status/valid "Kehtiv",
  :comment.visibility/all "Avalik",
  :comment.visibility/internal "Sisemine",
  :comment.status/unresolved "Muudatused tegemata",
  :task.type/topogeodesy "Topogeodeesia",
  :land-acquisition.status/in-progress-ready "Töös - ehituseks valmis",
  :task.type/equipment "Paigaldis",
  :task.type/structures "Konstruktsioonid",
  :activity.name/design-requirements "Projekteerimistingimused",
  :task.type/calculation "Konstruktsiooni arvutused",
  :land-acquisition.status/in-progress "Töös",
  :task.type/design-road-safety-audit "Liiklusohutuse audit",
  :thk.task-type/third-party-review "Ekspertiis",
  :document.sub-category/photo "Foto",
  :thk.lifecycle-type/construction "Ehitamine",
  :task.type/road-safety-audit-design
  "Liiklusohutuse audit (projekteerimisetapp)",
  :estate-procedure.type/property-rights "Omandiõigused",
  :document.sub-category/drawing "Joonis",
  :task.type/traffic-study "Liiklusuuring",
  :task.status/accepted "Aktsepteeritud",
  :task.type/allotment-plan "Krundijaotuskava",
  :estate-compensation.reason/crops "Vili",
  :thk.task-type/design-requirements "Projekteerimistingimused",
  :task.group/base-data "Lähteandmed",
  :task.status/completed "Valmis",
  :task.type/building-permit "Ehitusluba",
  :task.type/land-owners "Maaomanike kooskõlastused",
  :task.type/acceptances-no-objection "Kooskõlastused",
  :thk.task-type/environmental-impact-assessment "KMH eelhinnang",
  :document.sub-category/drill-posts "Puurtulbad",
  :notification.type/activity-waiting-for-review
  "Tegevus ootab ülevaatust",
  :activity.status/in-progress "Tegemisel",
  :land-acquisition.impact/purchase-needed "Vaja omandada",
  :task.status/assigned "Töösse antud",
  :notification.type/project-manager-assigned
  "Olete määratud projektijuhiks",
  :task.type/geology "Geoloogia",
  :notification.type/task-review-rejected
  "Ülesande ülevaade lükati tagasi",
  :land-acquisition.status/completed "Lõpetatud",
  :task.status/in-preparation "Ettevalmistamisel",
  :document.category/as-built-doc "Täitedokumentatsioon",
  :task.type/cadastral-works "Maakorraldustööd",
  :activity.status/other "Muu",
  :notification.type/activity-rejected
  "Tegevus on arhiveeritud või katkestatud projekti omaniku poolt",
  :task.type/technical-conditions "Tehnilised tingimused",
  :estate-procedure.type/property-trading "Maade vahetamine",
  :estate-compensation.reason/loss-of-living-space "Eluruumide kaotus",
  :task.type/no-objection-coordination "Kooskõlastused",
  :task.type/landscaping "Haljastus",
  :file.status/invalid "Kehtetu",
  :estate-compensation.reason/road-area "Tee piirkond",
  :notification.type/comment-mention "Teid mainiti kommentaaris",
  :task.type/third-party-review "Ekspertiis",
  :thk.task-type/study "Uuring",
  :document.sub-category/explanatory-letter "Seletuskiri",
  :estate-compensation.reason/premature-ending-of-agricultural-agreement
  "Põllumajanduskokkuleppe ennetähtaegne lõppemine",
  :task.type/cleanup "Riigivara registrisse kandmine",
  :notification.type/comment-unresolved "Lahendamata",
  :task.type/general-part "Ülddokumendid",
  :activity.status/completed "Valmis",
  :activity.name/preliminary-design "Eelprojekt",
  :task.status/in-progress "Tegemisel",
  :task.type/drainage "Drenaaž",
  :task.type/flora-fauna-study "Taimestiku ja loomastiku uuring",
  :task.type/design-requirements "Projekteerimistingimused",
  :file.status/updated "Korrigeeritud",
  :task.type/other-facilities "Muud rajatised",
  :task.type/preliminary-agreements "Esialgsed lepped",
  :task.type/buildings "Hooned",
  :thk.task-type/building-permit "Ehitusluba",
  :document.sub-category/presentation "Esitlus/Visuaal",
  :estate-compensation.reason/other "Muud",
  :task.type/archeological-study "Arheoloogiline uuring",
  :document.sub-category/study-plan "Uuringu plaan (UP plaan)",
  :document.sub-category/calculation-report "Arvutus/Katendiarvutus",
  :task.type/data "Andmed",
  :estate-compensation.reason/increase-of-journey
  "Teekonna pikenemine",
  :task.type/terms-of-Reference "Lähteülesanne",
  :task.group/land-purchase "Maade omandamine",
  :activity.status/canceled "Katkestatud",
  :document.sub-category/table-of-content "Sisukord",
  :task.status/not-started "Alustamata",
  :task.type/road "Tee"},
 :environment
 {:build-time "Viimane versiooniuuendus toimus",
  :info-text
  "Kasutad TEETu arenduskeskkonda. Siia salvestatud andmed võivad kustuda.",
  :version "Versioon"},
 :error
 {:authorization-failure "Sessioon aegus. Palun sisene uuesti.",
  :invalid-task-dates "Kontrollige ülesande kuupäevi",
  :server-error "Serveri viga.",
  :invalid-x-road-response "Vale vastus X-teelt",
  :permission-already-granted "Selle kasutaja luba on juba antud",
  :conflicting-activities
  "Korraga võib aktiivne olla ainult üht tüüpi tegevus.",
  :request-timeout "Ei saanud serveriga ühendust",
  :invalid-activity-dates "Kontrolli tegevuse kuupäevi",
  :bad-request "Vigane päring"},
 :fields
 {:comment/visibility "Nähtavus",
  :task/send-to-thk? "Eraldi leping (THKs)",
  :thk.project/manager "Vastutav isik",
  :thk.project/project-name "Nimi",
  :task/thk-type "THK tüüp",
  :task/type "Ülesanne",
  :task/actual-end-date "Lõppkuupäev",
  :estate-procedure/process-fees "Asjaajamistasud",
  :thk.project/activity-status "Tegevusseisundid",
  :task/assignee "Vastutav isik",
  :land-exchange/price-per-sqm "Hind/m²",
  :thk.project/owner-info "Projektijuht",
  :activity/status "Olek",
  :task/group "Ülesande tüüp",
  :file/version "Versioon",
  :estate-procedure/pos "POS#",
  :user/family-name "Perekonnanimi",
  :estate-procedure/compensations "Hüvitis",
  :estate-procedure/third-party-compensations
  "Hüvitis kolmandale isikule",
  :project/participant "Osaleja",
  :activity/estimated-start-date "Eeldatav alguskuupäev",
  :estate-procedure/motivation-bonus "Motivatsiooni boonus",
  :task/modified "Muudetud",
  :estate-procedure/land-exchanges "Vara vahetamine",
  :file/number "Number",
  :task/status "Olek",
  :file/size "Suurus",
  "projectgroup" {"activity" "Etapp"},
  :permission/role "Roll",
  :land-exchange/area "Pindala",
  :thk.project/carriageway "Sõidutee",
  :common {"description" "Kirjeldus", "name" "Nimi"},
  :land-acquisition/pos-number "POS#",
  :document/sub-category "Dokumendi alamtüüp",
  :user/add-global-permission
  "Lisan globaalse rolli (kehtib kõikide projektide kohta)",
  :activity/estimated-end-date "Eeldatav lõppkuupäev",
  :user/given-name "Eesnimi",
  :user/person-id "Isikukood",
  :thk.project/m-range-change-reason "Muudatuse alguse / lõpu põhjus",
  :task/estimated-start-date "Eeldatav alguskuupäev",
  :comment/track? "Jälgin staatust",
  :user/roles "Rollid",
  :document/author "Autor",
  :file/name "Nimi",
  :thk.project/effective-km-range "Km ulatus",
  :task/description "Kirjeldus",
  :thk.project/region-name "Regioon",
  :estate-procedure/urgent-bonus "Kiirmenetluse boonus",
  :comment/comment "Märkus",
  :file/timestamp "Üleslaadimise kuupäev",
  :land-acquisition/area-to-obtain "Omandatav ala",
  :thk.project/repair-method "Remondimeetod",
  :land-acquisition/impact "Mõju",
  :estate-compensation/reason "Põhjendus",
  :file/type "Tüüp",
  :task/actual-start-date "Alguskuupäev",
  :thk.project/road-nr "Tee number",
  :task/estimated-end-date "Eeldatav lõppkuupäev",
  :activity/name "Tegevuse nimi",
  :estate-compensation/amount "Summa",
  :document/category "Dokumendi tüüp",
  :file/description "Kirjeldus",
  :estate-procedure/type "Protseduur",
  :thk.project/estimated-date-range "Eeldatav kestus",
  :file/status "Olek",
  :thk.project/owner "Projektijuht"},
 :file
 {:download "Laen faili alla",
  :edit "Muudan faili",
  :old-version "Vana versioon",
  :other-versions "Muud versioonid",
  :sort-by
  {:file/name "Sorteerin nime järgi",
   :file/status "Sorteerin staatuse järgi",
   :file/type "Sorteerin failitüübi järgi",
   :meta/created-at "Sorteerin kuupäeva järgi"},
  :switch-to-latest-version "Lülitan tagasi uusimale versioonile",
  :upload-info "Üles laadinud {author} {date} ",
  :upload-new-version "Laen üles uue versiooni"},
 :land
 {:total-area "Üldpind {area} m2",
  :unreliable "Küsitav kvaliteet",
  :estate-compensation-success "Andmed salvestatud",
  :unit "ühik",
  :add-compensation "+ Lisan kompensatsiooni",
  :estate "Kinnistu",
  :land-acquisition-saved "Maa omandamine edukalt salvestatud",
  :net-area-balance "Netojääk {area} m2",
  :cadastral-unit-number "Katastriüksuse number",
  :filter {:quality "Maa andmete kvaliteet"},
  :owner-filter-label "Omanik",
  :cadastral-filter-label "Katastriüksus",
  :quality
  {:any "Kõik",
   :bad "Halb",
   :good "Hea (L-Est)",
   :questionable "Küsitav"},
  :filter-label "Filtreerin üksused",
  :units "ühikut",
  :estate-info-fetch-failure
  "X-teest ei õnnestunud teavet hankida. Palun proovi uuesti ja kui tõrge püsib, pöörduge süsteemi administraatori poole.",
  :estate-filter-label "Kinnistu",
  :fetching-land-units "Toon maade andmeid",
  :add-owner "+ Lisan omaniku"},
 :login {:login "Sisenen", :password "Salasõna", :username "Kasutaja"},
 :map
 {:aerial-view "Aerofoto",
  :clear-selections "Tühjendan valikud",
  :display "Kaardi tüüp",
  :layers
  {:no-filters "Filtrid puuduvad",
   :projects "Projektid",
   :restrictions "Kitsendused",
   :teeregister "Teeregistri kaardikihid",
   :eelis "EELIS",
   :layer "kiht",
   :cadastral-units "Katastriüksused",
   :no-layers "Kihid puuduvad",
   :land-surveys "Maa uuring"},
  :map-layers "Kaardikihid",
  :select-all "Valin kõik"},
 :notifications
 {:no-unread-notifications "Uusi teavitusi ei ole",
  :task-status-updated "Ülesande staatus edukalt värskendatud",
  :task-deleted "Ülesanne edukalt kustutatud",
  :permission-added-successfully "Luba on edukalt lisatud",
  :comments-resolved "Märkus edukalt lahendatud",
  :comment-edited "Kommentaar edukalt muudetud",
  :comment-deleted "Kommentaar edukalt kustutatud",
  :permission-revoked "Luba tühistati edukalt",
  :task-created "Ülesanne edukalt lisatud",
  :comment-status-changed "Kommentaari staatus edukalt muudetud",
  :restrictions-updated "Kitsendused edukalt värskendatud",
  :task-updated "Ülesanne edukalt värskendatud",
  :activity-deleted "Tegevus edukalt kustutatud",
  :mark-all-read "Märgin kõik loetuks",
  :activity-updated "Tegevus edukalt värskendatud",
  :cadastral-units-updated "Katastriüksused edukalt värskendatud"},
 :page-title {:project-list "{name} projekt"},
 :people-tab
 {:invite-user "Lisan uue kasutaja",
  :managers "Juhid",
  :no-other-users "Teisi kasutajaid pole",
  :other-users "Muud kasutajad"},
 :project
 {:add-users "Lisan kasutajaid",
  :remove-from-project "Eemaldan projektist",
  :details-view "Detailid",
  :map-view "Kaart",
  :project-updated "Projekti värskendati edukalt",
  :new-activity "Lisan tegevuse",
  :add-activity
  #:thk.lifecycle-type{:construction "Lisan staadiumi",
                       :design "Lisan etapi"},
  :tabs
  {:activities "Tegevused",
   :details "Üksikasjad",
   :land "Maad",
   :people "Inimesed",
   :restrictions "Kitsendused",
   :road-objects "Teeobjektid"},
  :edit-activity "Muudan tegevust",
  :restrictions-tab "Kitsendused",
  :download-related-info "Laen seotud andmed alla",
  :edit-comment "Muudan kommentaari",
  :show-timeline "Kuvan projekti ajakava",
  :edit-task "Redigeerin ülesannet",
  :activity {:no-tasks "Ülesandeid pole lisatud"},
  :edit-project "Redigeerin projekti",
  :wizard
  {:restrictions "Valin asjakohased piirangud",
   :setup-incomplete "Projekti seadistamine lõpetamata",
   :project-setup "Projekti seadistamine",
   :step-of "Samm {current} / {total}",
   :selected-count "{selected} / {total} valitud",
   :basic-information "Põhiandmed",
   :activities "Lisan projekteerimise tegevused",
   :cadastral-units "Valin mõjutatud katastriüksused",
   :skip-setup "Jätan seadistuse vahele"},
  :add-task "Lisan ülesande",
  :draw-selection
  {:deselect "Puhastan alad",
   :link "Joonistan ala kaardile",
   :select "Valin alad"},
  :information
  {:carriageway "Sõidutee",
   :estimated-duration "Eeldatav kestus",
   :km-range "Km ulatus",
   :procurement-number "Hanke number",
   :repair-method "Remondimeetod",
   :road-number "Tee number"},
  :activities "Projekti tegevused",
  :cadastral-units-tab "Maad",
  :activities-tab "Tegevused"},
 :project-groups {:title "Projektirühmad"},
 :projects
 {:filters
  {:all "Kõik projektid",
   :my-projects "Minu projektid",
   :unassigned-only "Määramata projektid"},
  :list-view "Projektide loetelu",
  :map-view "Kaart",
  :no-activities "Ei mingeid tegevusi",
  :title "Projektid"},
 :roles
 {:authenticated-guest "Autenditud külaline",
  :external-consultant "Väline konsultant",
  :guest "Külaline",
  :internal-consultant "Sisemine konsultant",
  :manager "Vastutav isik",
  :owner "Projektijuht"},
 :search {:clear-filters "Puhastan filtrid", :quick-search "Otsin"},
 :search-area
 {:filter-by-distance "Filtreerin kauguse järgi",
  :select-relevant-restrictions "Valin asjakohased piirangud",
  :waiting-for-area "Mõjuala ootamine",
  :inclusion-distance "Mõju ulatus",
  :select-relevant-cadastral-units "Valin sobivad katastriüksused",
  :restriction-results-by-buffer
  "Leiti {count} piirangut {meters} meetri raadiuses.",
  :restriction-results-by-area
  "Leiti {count} piirangut määratletud mõjualadel.",
  :cadastral-results-by-buffer
  "Leiti {count} katastriüksust {meters} meetri raadiuses.",
  :cadastral-results-by-area
  "Leiti {count} katastriüksust määratletud mõjualadel.",
  :filter-by-area "Filtreerin mõjuala järgi",
  :inclusion-distance-placeholder
  "Sisestan väärtuse seotud piirkondade kuvamiseks",
  :component-title "Seotud objektide otsinguala"},
 :task
 {:task-overview "Ülesande ülevaade",
  :upload-files "Laen failid üles",
  :edit-document "Redigeerin dokumenti",
  :create-success-notification "Ülesanne edukalt loodud",
  :start-review-success "Ülevaatus algas",
  :accept-review "Aktsepteerin ülesande",
  :reject-review "Lükkan tagasi",
  :documents "Dokumendid",
  :add-document "Lisan dokumendi",
  :submit-results "Esitan tulemused",
  :submit-results-success "Tulemused edukalt esitatud",
  :submit-results-confirm
  "Oled kindel, et soovid {task} vastused saata?",
  :no-documents "Dokumente ei ole",
  :edit-success-notification "Ülesanne edukalt muudetud",
  :results "Tulemused"},
 :user {:role "Roll"},
 :warning
 {:deploying
  "Rakenduse uut versiooni laetakse. Palun oota mõned minutid ning seejärel värskenda lehte.",
  :version-mismatch
  "Rakenduse uus versioon on laetud. Palun värskenda lehte."}}
