/app/frontend/target
.rebel_readline_history
.cpcache
.nrepl-port

# Intellij idea related ignores
.idea
*.iml
.DS_Store
/app/backend/resources/public/language
/app/backend/resources/public/*.js
.datomic-ions
.cache

# Large files that we don't want to download too often
/db/KITSENDUSED.gpkg
/db/KATASTRIYKSUS.dbf
