;; Define all routes of TEET frontend application
;; Each route is mapping from page name to map of route info
;;
;; Route info can have the following keys:
;; :path     is the URL path of the route
;; :parent   optional parent path (for constructing breadcrumbs)
;; :state    map describing what data must be present
;; :view     symbol defining the view fn for the page
;;           called with e! and the state
;; :crumb    code to display breadcrumb for this page
;;           can refer to params by symbol name and state as state
;;           can also refer to tr for translations
;;
;; State map has the following keys
;; :query    keyword naming the query to run
;; :args     arguments map for the query, can refer to params by symbol name

{:root {:path "/"
        :crumb (tr [:projects :map-view])
        :view teet.projects.projects-view/projects-map-page}
 :login {:path "/login"}

 :dashboard {:path "/dashboard"
             :crumb "Dashboard" ;(tr [:dashboard :title])
             :view teet.dashboard.dashboard-view/dashboard-page
             :state {:query :dashboard/user-dashboard
                     :args {}}}
 :projects {:path "/projects/map"
            :crumb (tr [:projects :map-view])
            :view teet.projects.projects-view/projects-map-page}

 :projects-list {:path "/projects/list"
                 :crumb (tr [:projects :list-view])
                 :view teet.projects.projects-view/projects-list-page
                 :state {:query :thk.project/listing
                         :args {}}}

 :project {:path "/projects/:project"
           :keep-query-params #{:tab}
           :parent :projects-list
           :crumb (teet.project.project-model/get-column (or (some-> state :project)
                                                             state)
                                                         :thk.project/project-name)
           :view teet.project.project-view/project-page
           :state {:query :thk.project/fetch-project
                   :args {:thk.project/id project}}}

 :activity-task {:path "/projects/:project/:task"
                 :parent :project
                 :crumb (tr [:enum (-> state :task/type :db/ident)])
                 :view teet.task.task-view/task-page
                 :state {:query :thk.project/fetch-task
                         :args {:thk.project/id project
                                :task-id (goog.math.Long/fromString task)}}}

 :unauthorized {:path "/unauthorized" :view teet.ui.unauthorized/restricted-path}
 :components {:path "/components" :view teet.ui.component-demo/demo}
 :road {:path "/road"
        :view teet.road-visualization.road-visualization-view/road-visualization}

 :admin {:path "/admin"
         :role :admin
         :view teet.admin.admin-view/admin-page
         :state {:query :admin/list-users
                 :args {}}
         :crumb (tr [:admin :title])}}
