{:deps {http-kit {:mvn/version "2.4.0-alpha4"}
        compojure {:mvn/version "1.6.1"}
        hiccup {:mvn/version "1.0.5"}
        com.taoensso/timbre {:mvn/version "4.10.0"}

        ;; Data formats
        cheshire {:mvn/version "5.9.0"}
        org.clojure/data.csv {:mvn/version "0.1.4"}
        com.cognitect/transit-clj {:mvn/version "0.8.313"}


        ;; JWT and JWK
        com.nimbusds/nimbus-jose-jwt {:mvn/version "7.8"
                                      :exclusions [net.minidev/json-smart]}
        net.minidev/json-smart {:mvn/version "2.3"}

        ;; Database driver and libraries
        org.postgresql/postgresql {:mvn/version "42.1.4"}
        com.zaxxer/HikariCP {:mvn/version "2.6.1"}
        webjure/jeesql {:mvn/version "0.4.7"}
        com.datomic/client-cloud {:mvn/version "0.8.78"}
        com.datomic/ion {:mvn/version "0.9.35"}

        ;; Geometry libraries
        org.locationtech.jts/jts-core {:mvn/version "1.16.1"}

        ;; AWS client
        amazonica {:mvn/version "0.3.146" :exclusions [com.amazonaws/aws-java-sdk
                                                       com.amazonaws/amazon-kinesis-client]}
        com.amazonaws/aws-java-sdk-core {:mvn/version "1.11.623"}
        com.amazonaws/aws-java-sdk-s3 {:mvn/version "1.11.623"}
        com.amazonaws/aws-java-sdk-ssm {:mvn/version "1.11.623"}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             ;;"teet-dev-files" {:url "s3://teet-dev-files/maven"}
             "datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}

             }
 :paths ["src/clj" "../common/src/cljc" "../common/src/clj" "resources"]
 :aliases {:dev {:extra-deps {com.datomic/ion-dev {:mvn/version "0.9.234"}}}
           :pack {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                :sha "2769a6224bfb938e777906ea311b3daf7d2220f5"}}}
           :test {:main-opts ["-m" "kaocha.runner"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-529"}}
                  :extra-paths ["test"]}
           :localizations {:main-opts ["-m" "teet.localization"]
                           :extra-deps {dk.ative/docjure {:mvn/version "1.12.0"}}}}

 }
