{:activity
 {:note-all-tasks-need-to-be-completed
  "Kõik ülesanded peavad olema lõpetatud enne kui tegevuse saab ülevaatamiseks saata",
  :status "Olek",
  :waiting-for-submission "Tulemusi ei ole veel esitatud",
  :submit-results-success
  "Tegevus on edukalt esitatud ülevaatamiseks"},
 :activity-approval
 {:activity.status/archived "Arhiveerin tegevuse",
  :activity.status/canceled "Katkestan tegevuse",
  :activity.status/completed "Kinnitan tegevuse",
  :approve-activity-confirm "Tegevuse staatus märgitakse lõpetatuks",
  :reject-activity-confirm "Tegevuse staatus uuendatakse",
  :submit-for-approval "Esitan tegevuse"},
 :admin {:create-user "Lisan kasutaja", :title "Admin"},
 :buttons
 {:confirm "Kinnitan",
  :continue "Jätkan",
  :edit "Muudan",
  :delete "Kustutan",
  :save "Salvestan",
  :undo "Taastan",
  :back "Tagasi",
  :send "Saadan teavituse",
  :cancel "Tühistan",
  :add "Lisan",
  :upload "Laadi üles"},
 :cadastral-group
 {"" "Määratlemata",
  "Avalik-õiguslik omand" "Avalik-õiguslik omand",
  "Eraomand" "Eraomand",
  "Kiinistamata eraomand" "Kinnistamata eraomand",
  "Munitsipaalomand" "Munitsipaalomand",
  "Omand väljaselgitamisel" "Omand väljaselgitamisel",
  "Riigiomand" "Riigiomand",
  "Segaomand" "Segaomand"},
 :comment
 {:total-comments "{count} kommentaari kokku",
  :mentioned-users "Mainitud kasutajad",
  :save "Salvestan kommentaari",
  :comment-as "Kommenteerimine kui {name}",
  :add-mention "Lisan mainimise",
  :unresolved-count "{unresolved-count} lahendamata märkust",
  :edited "Muudetud {date}",
  :resolve-all "Lahendan kõik",
  :quote "Tsiteerin",
  :resolve "Lahendan",
  :unresolve "Märgin mittelahendatuks",
  :new-comments "{count} uut kommentaari",
  :add-images "Lisan pildid",
  :open-latest-unresolved "Avan uusimad"},
 :common
 {:hide-menu "Peidan menüü",
  :send-feedback "Saadan tagasisidet",
  :forbidden-explanation "Puuduvad juurdepääsu õigused",
  :select-files "Valin fail(id)",
  :log-out "Väljun",
  :back-to-project "Tagasi projekti",
  :now "Nüüd",
  :construction-phase "Ehitusetapp",
  :general "Üldine",
  :unknown "Teadmata",
  :new "uus",
  :deletion-modal-text
  "Oled sa kindel, et soovid selle üksuse kustutada?",
  :start-time "Algusaeg",
  :design-stage "Staadium",
  :this-week "See nädal",
  :today "Täna",
  :deselect-all "Tühistan kõik valikud",
  :show-details "Vaatan arvutuskäiku",
  :end-time "Lõpuaeg",
  :forbidden "Keelatud",
  :construction-phase-activities "Faasid",
  :last-modified "Viimati muudetud",
  :added-on "Lisatud",
  :select-all "Vali kõik",
  :hotkey "klahv {key}",
  :total "Kokku",
  :language "Keel",
  :unassigned "Määramata",
  :confirm-deletion "Kinnitan kustutamise",
  :files "Failid",
  :deadline "Tähtaeg",
  :back-to-task "Tagasi ülesandesse",
  :n-selected "{count} valitud",
  :design-stage-activities "Ülesanded",
  :select {:empty "- Valin"},
  :clear "Puhastan"},
 :contact {:address "Aadress", :email "E-post", :phone "Telefon"},
 :dashboard
 {:activities-and-tasks "Tegevused ja ülesanded",
  :my-projects "Minu projektid",
  :no-notifications-for-project
  "Teil pole selle projektiga seotud teatisi",
  :notifications "Teavitused",
  :open "Avan",
  :title "Töölaud"},
 :data-tab
 {:cadastral-unit-count "Praegu kuvatakse {count} katastriüksus(t)",
  :restriction-count "Praegu kuvatakse {count} kitsendus(t)"},
 :date-range {:error-text "Võimalikud kuupäevad: {start} – {end}"},
 :document
 {:comments "Märkused",
  :deleted-notification "Dokument edukalt kustutatud",
  :file-deleted-notification "Fail edukalt kustutatud",
  :file-too-large "Fail on liiga suur",
  :invalid-file-type "Failitüüp ei ole toetatud",
  :new-comment "Uus märkus",
  :updated "Uuendatud"},
 :drag
 {:no-drop-zone "Siia ei saa faile lohistada",
  :drop-to-task "Lisan ülesandele faile",
  :drop-to-comment "Lisan märkusele pilte",
  :drop-to-meeting-agenda "Lisan päevakavapunktile faile",
  :drop-to-meeting-decision "Lisan koosoleku otsusele faile"},
 :enum
 {:estate-procedure.type/acquisition-negotiation "Hinnangu alusel",
  :activity.name/construction "Ehitus",
  :task.type/utilities "Tehnovõrgud",
  :task.type/site-plan "Asendiplaan",
  :notification.type/activity-accepted
  "Tegevus on vastu võetud omaniku poolt",
  :task.type/study-other "Muu",
  :document.category/maintenance-doc "Hooldedokumentatsioon",
  :document.category/source-doc "Lähtedokumentatsioon",
  :task.status/canceled "Tühistatud",
  :land-acquisition.impact/purchase-not-needed
  "Omandamine ei ole vajalik",
  :task.type/funding-plan "Rahastamiskava",
  :thk.lifecycle-type/maintenance "Hoole",
  :comment.status/resolved "Muudatused sisse viidud",
  :estate-procedure.type/urgent "Kiirmenetlus",
  :task.type/noise-study "Müra uuring",
  :task.status/rejected "Tagasi lükatud",
  :task.status/reviewing "Ülevaatamisel",
  :document.category/project-doc "Projektdokumentatsioon",
  :task.type/plot-allocation-plan
  "Ümberkruntimiskava (krundijaotuskava)",
  :file.document-group/general "Üldosa, seletuskirjad ",
  :task.type/railroad "Raudtee",
  :document.sub-category/design-requirements
  "Projekteerimistingimused",
  :task.group/design-approval "Projekti heakskiitmine",
  :task.type/geological-study "Geoloogiline uuring",
  :activity.status/in-review "Ülevaatamisel",
  :land-acquisition.status/in-progress-problematic "Töös - probleemne",
  :task.type/property-valuation "Hindamine",
  :notification.type/task-assigned "Määratud ülesanne",
  :participation.role/reviewer "Kinnitaja",
  :file.status/ready "Valmis",
  :activity.name/detailed-design "Põhiprojekt",
  :activity.status/expired "Aegunud",
  :notification.type/task-waiting-for-review
  "Ülesanne ootab ülevaatamist",
  :file.status/approved "Kinnitatud / Kehtiv",
  :task.type/acceptances "Kooskõlastused",
  :document.sub-category/terms-of-reference "Lähteülesanne",
  :document.sub-category/report "Aruanne",
  :task.group/design "Projekt",
  :estate-compensation.reason/forest "Mets",
  :file.status/final "Lõplik",
  :task.type/feasibility-study "Teostatavusuuring",
  :document.sub-category/procurement-specification
  "Hanke tehnilised tingimused",
  :task.status/adjustment "Täiendamisel",
  :activity.status/not-started "Ei ole alustatud",
  :activity.status/research "Ekspertiisis",
  :estate-procedure.type/expropriation "Sundvõõrandamine",
  :task.type/state-estate-registry "Riigivara registrisse kandmine",
  :task.status/submitted "Esitatud",
  :notification.type/meeting-updated "Koosolekut on uuendatud",
  :activity.name/other "Muu",
  :task.type/animal-study "Loomastiku uuring",
  :activity.name/pre-design "Eskiisprojekt",
  :document.sub-category/no-objection-letters "Kooskõlastused",
  :task.status/waiting-for-review "Ootab ülevaatamist",
  :thk.lifecycle-type/design "Projekteerimine",
  :document.sub-category/rsa-exception-report
  "Eriarvamuste aruanne (LOA)",
  :task.type/flora-and-fauna-study "Taimestiku/Loomastiku uuring",
  :task.type/lighting "Valgustus",
  :task.type/purchase-agreements "Lepingute sõlmimine maaomanikega",
  :task.type/environmental-impact-assessment
  "Keskkonnamõju hinnang (KMH)",
  :activity.status/in-preparation "Ettevalmistamisel",
  :document.sub-category/geological-basis "Geoalus",
  :task.group/design-reports "Projekti väljundid",
  :activity.name/land-acquisition "Maade omandamine",
  :land-acquisition.impact/undecided "Otsus puudub",
  :notification.type/comment-resolved "Lahendatud",
  :task.type/terms-of-reference "Lähteülesanne",
  :thk.task-type/road-safety-audit
  "Liiklusohutuse audit (eelprojekt, põhiprojekt)",
  :task.type/calculation-of-pavement "Kattendiarvutus",
  :document.sub-category/laboratory-certificate "Laboriprotokoll",
  :task.type/cost-list "Kululoend",
  :task.type/eia-pre-assessment "Keskkonnamõju eelhinnang",
  :task.group/study "Uuringud",
  :file.status/draft "Mustand",
  :notification.type/comment-created "Uus kommentaar",
  :activity.status/archived "Arhiveeritud",
  :activity.status/valid "Kehtiv",
  :comment.visibility/all "Avalik",
  :comment.visibility/internal "Sisemine",
  :comment.status/unresolved "Muudatused tegemata",
  :task.type/topogeodesy "Topogeodeesia",
  :land-acquisition.status/in-progress-ready "Töös - ehituseks valmis",
  :task.type/equipment "Seadmed",
  :file.document-group/annexes "Lisad, muud",
  :task.type/structures "Konstruktsioonid",
  :activity.name/design-requirements "Projekteerimistingimused",
  :task.type/calculation "Konstruktsiooni arvutused",
  :land-acquisition.status/in-progress "Töös",
  :participation.role/organizer "Korraldaja",
  :task.type/design-road-safety-audit "Liiklusohutuse audit",
  :thk.task-type/third-party-review "Ekspertiis",
  :document.sub-category/photo "Foto",
  :thk.lifecycle-type/construction "Ehitamine",
  :task.type/road-safety-audit-design "Liiklusohutuse audit",
  :participation.role/participant "Osaleja",
  :estate-procedure.type/property-rights "Kasutusõiguse seadmine",
  :document.sub-category/drawing "Joonis",
  :task.type/traffic-study "Liiklusuuring",
  :task.status/accepted "Aktsepteeritud",
  :task.type/allotment-plan "Krundijaotuskava",
  :file.document-group/models "Mudelid",
  :estate-compensation.reason/crops "Vili",
  :thk.task-type/design-requirements "Projekteerimistingimused",
  :task.group/base-data "Lähteandmed",
  :task.status/completed "Valmis",
  :task.type/building-permit "Ehitusluba",
  :task.type/land-owners "Kokkulepped maaomanikega",
  :task.type/acceptances-no-objection "Kooskõlastused",
  :thk.task-type/environmental-impact-assessment "KMH eelhinnang",
  :document.sub-category/drill-posts "Puurtulbad",
  :notification.type/activity-waiting-for-review
  "Tegevus ootab ülevaatust",
  :activity.status/in-progress "Töös",
  :land-acquisition.impact/purchase-needed "Vaja omandada",
  :task.status/assigned "Töösse antud",
  :notification.type/project-manager-assigned
  "Olete määratud projektijuhiks",
  :task.type/geology "Geoloogia",
  :notification.type/task-review-rejected
  "Ülesande ülevaade lükati tagasi",
  :land-acquisition.status/completed "Lõpetatud",
  :task.status/in-preparation "Ettevalmistamisel",
  :document.category/as-built-doc "Täitedokumentatsioon",
  :file.document-group/drawings-and-plans "Joonised, plaanid",
  :task.type/cadastral-works "Maakorraldustööd",
  :activity.status/other "Muu",
  :notification.type/activity-rejected
  "Tegevus on arhiveeritud või katkestatud projekti omaniku poolt",
  :task.type/technical-conditions "Tehnilised tingimused",
  :estate-procedure.type/property-trading "Vahetamine",
  :estate-compensation.reason/loss-of-living-space "Eluruumide kaotus",
  :task.type/no-objection-coordination "Kooskõlastused",
  :task.type/landscaping "Maastik",
  :file.status/invalid "Kehtetu",
  :estate-compensation.reason/road-area "Tee piirkond",
  :notification.type/comment-mention "Teid mainiti kommentaaris",
  :task.type/third-party-review "Ekspertiis",
  :thk.task-type/study "Uuring",
  :document.sub-category/explanatory-letter "Seletuskiri",
  :estate-compensation.reason/premature-ending-of-agricultural-agreement
  "Põllumajanduskokkuleppe ennetähtaegne lõppemine",
  :task.type/cleanup "Riigivara registrisse kandmine",
  :file.document-group/reports "Aruanded",
  :notification.type/comment-unresolved "Lahendamata",
  :task.type/general-part "Ülddokumendid",
  :activity.status/completed "Valmis",
  :activity.name/preliminary-design "Eelprojekt",
  :task.status/in-progress "Töös",
  :task.type/drainage "Drenaaž",
  :task.type/design-requirements "Projekteerimistingimused",
  :file.status/updated "Korrigeeritud",
  :file.document-group/specifications "Spetsifikatsioonid",
  :task.type/other-facilities "Muud rajatised",
  :task.type/preliminary-agreements "Eelkokkulepped",
  :task.type/buildings "Hooned",
  :thk.task-type/building-permit "Ehitusluba",
  :document.sub-category/presentation "Esitlus/Visuaal",
  :estate-compensation.reason/other "Muud",
  :task.type/archeological-study "Arheoloogiline uuring",
  :document.sub-category/study-plan "Uuringu plaan (UP plaan)",
  :document.sub-category/calculation-report "Arvutus/Katendiarvutus",
  :task.type/data "Lähteandmed",
  :estate-compensation.reason/increase-of-journey
  "Teekonna pikenemine",
  :task.group/land-purchase "Maade omandamine",
  :activity.status/canceled "Katkestatud",
  :document.sub-category/table-of-content "Sisukord",
  :task.status/not-started "Alustamata",
  :task.type/road "Tee"},
 :environment
 {:build-time "Viimane versiooniuuendus toimus",
  :info-text
  "Kasutad TEETu arenduskeskkonda. Siia salvestatud andmed võivad kustuda.",
  :version "Versioon"},
 :error
 {:authorization-failure "Sessioon aegus. Palun sisene uuesti.",
  :invalid-task-dates "Kontrollige ülesande kuupäevi",
  :user-is-already-participant "Kasutaja on juba osaleja",
  :server-error "Serveri viga.",
  :invalid-x-road-response "Vale vastus X-teelt",
  :permission-already-granted "Selle kasutaja luba on juba antud",
  :conflicting-activities
  "Korraga võib aktiivne olla ainult üht tüüpi tegevus.",
  :meeting-is-locked
  "Koosoleku otsused on kinnitatud ning seda ei saa enam muuta",
  :request-timeout "Ei saanud serveriga ühendust",
  :invalid-activity-dates "Kontrolli tegevuse kuupäevi",
  :bad-request "Vigane päring",
  :meeting-has-no-decisions "Koosolekule ei ole otsuseid lisatud"},
 :fields
 {:land-acquisition/registry-number "Riigivara registrinumber",
  :comment/visibility "Nähtavus",
  :task/send-to-thk? "Eraldi leping (THKs)",
  :thk.project/manager "Projektijuht",
  :thk.project/project-name "Nimi",
  :task/thk-type "THK tüüp",
  :task/type "Ülesanne",
  :task/actual-end-date "Lõppkuupäev",
  :meeting/title "Pealkiri",
  :estate-procedure/process-fees "Asjaajamistasud",
  :thk.project/activity-status "Olek",
  :meeting/date-and-time "Kuupäev ja kellaaeg",
  :task/assignee "Vastutav isik",
  :land-exchange/price-per-sqm "Hind/m²",
  :thk.project/owner-info "Vastutav isik / Projektijuht",
  :activity/manager "Projektijuht",
  :activity/status "Olek",
  :file.part/name "Ülesande osa nimi",
  :task/group "rro",
  :file/part "Osa",
  :file/version "Versioon",
  :estate-procedure/pos "POS#",
  :user/family-name "Perekonnanimi",
  :estate-procedure/compensations "Hüvitis",
  :estate-procedure/third-party-compensations
  "Hüvitis kolmandale isikule",
  :project/participant "Osaleja",
  :land-acquisition/price-per-sqm "Hind/m²",
  :activity/estimated-start-date "Eeldatav alguskuupäev",
  :estate-procedure/motivation-bonus "Motivatsiooni tasu",
  :task/modified "Muudetud",
  :estate-procedure/land-exchanges "Vastu antav riigimaa",
  :file/number "Number",
  :task/status "Olek",
  :file/size "Suurus",
  :thk.project/end-km "Lõpp km",
  :thk.project/start-km "Algus km",
  "projectgroup" {"activity" "Etapp"},
  :file/original-name "Algupärane failinimi",
  :permission/role "Roll",
  :review/comment "Kommentaar",
  :land-exchange/area "Pindala",
  :meeting.decision/body "Otsus",
  :meeting/agenda "Päevakava",
  :thk.project/carriageway "SO",
  :participation/participant "Kasutaja",
  :land-acquisition/status "Olek",
  :common {"description" "Kirjeldus", "name" "Nimi"},
  :land-acquisition/pos-number "POS#",
  :meeting.agenda/responsible "Vastutav isik",
  :document/sub-category "Dokumendi alamtüüp",
  :user/add-global-permission
  "Lisan globaalse rolli (kehtib kõikide projektide kohta)",
  :land-exchange/cadastral-unit-id "Katastriüksuse id",
  :activity/estimated-end-date "Eeldatav lõppkuupäev",
  :user/given-name "Eesnimi",
  :user/person-id "Isikukood",
  :thk.project/m-range-change-reason "Muudatuse alguse / lõpu põhjus",
  :task/estimated-start-date "Eeldatav alguskuupäev",
  :meeting.agenda/topic "Teema",
  :comment/track? "Jälgin staatust",
  :user/roles "Rollid",
  :document/author "Autor",
  :file/name "Nimi",
  :thk.project/effective-km-range "Km ulatus",
  :task/description "Kirjeldus",
  :thk.project/region-name "Regioon",
  :estate-procedure/urgent-bonus "Kiirmenetluse tasu",
  :comment/comment "Märkus",
  :file/timestamp "Üleslaadimise kuupäev",
  :user/email "E-post",
  :land-acquisition/area-to-obtain "Omandatav ala",
  :file/sequence-number "#",
  :meeting/location "Asukoht",
  :thk.project/repair-method "Meede",
  :land-acquisition/impact "Mõju",
  :estate-compensation/reason "Põhjendus",
  :file/type "Tüüp",
  :task/actual-start-date "Alguskuupäev",
  :meeting/organizer "Korraldaja",
  :thk.project/road-nr "Tee number",
  :task/estimated-end-date "Eeldatav lõppkuupäev",
  :activity/name "Tegevuse nimi",
  :estate-compensation/amount "Summa",
  :document/category "Dokumendi tüüp",
  :file/description "Kirjeldus",
  :file/document-group "Dokumendi grupp",
  :meeting.agenda/body "Sisu",
  :estate-procedure/type "Protseduuri tüüp",
  :thk.project/road-name "Tee nimetus",
  :thk.project/estimated-date-range "Eeldatav kestus",
  :participation/role "Roll",
  :file/status "Olek",
  :thk.project/owner "Vastutav isik"},
 :file
 {:edit-part-modal-title "Muudan ülesande osa",
  :upload-new-version "Laen üles uue versiooni",
  :no-files "Faile pole",
  :old-version "Vana versioon",
  :show-preview "Kuvan eelvaate",
  :edit "Muudan faili",
  :upload-info "Üles laadinud {author} {date} ",
  :hide-preview "Peidan eelvaate",
  :replace-dialog-title "Laen üles uue versiooni",
  :add-part-modal-title "Lisan ülesande osa",
  :other-versions "Muud versioonid",
  :filter-file-listing "Otsin faile",
  :all-parts "Kõik ülesande osad",
  :full-name "TEET failinimi",
  :switch-to-latest-version "Lülitan tagasi uusimale versioonile",
  :sort-by
  {:file/name "Sorteerin nime järgi",
   :file/status "Sorteerin staatuse järgi",
   :file/type "Sorteerin failitüübi järgi",
   :meta/created-at "Sorteerin kuupäeva järgi"},
  :replace-dialog-info-text "Eelmine versioon jääb alles",
  :version "Versioon {num}",
  :replace-dialog-info-title "Hakkad üles laadima uut versiooni",
  :download "Laen faili alla"},
 :file-upload
 {:description "Faili kirjeldus",
  :original-filename "Algupärane failinimi: {name}",
  :wrong-task "Sellesse ülesandesse ei saa seda faili lisada",
  :file-belongs-to-task "See fail kuulub ülesandele {task}",
  :already-uploaded "See fail on juba üles laaditud",
  :new-version-will-be-created
  "Salvestamine loob failile uue versiooni",
  :select-part-to-upload
  "Valige osa, kuhu üleslaaditud failid lisatakse",
  :general-part "Üldine"},
 :land
 {:show-owner-info "Vaatan omanike andmeid",
  :no-active-mortgages "Aktiivsed hüpoteegid puuduvad",
  :total-area "Üldpind {area} m²",
  :unreliable "Halb andmete kvaliteet",
  :new-cadastral-unit "UUS",
  :estate-compensation-success "Andmed salvestatud",
  :unit "üksus",
  :no-estate-compensations
  "Sellele kinnistule ei ole määratud ühtki kompensatsiooni",
  :no-owner-info "Üksusel puudub omanik",
  :unit-info "Katastriüksuse andmed",
  :total-cost "Kogumaksumus",
  :land-exchange "Vahetus",
  :add-compensation "+ Lisan kompensatsiooni",
  :archived-unit "(Arhiveeritud)",
  :estate-acquisition-cost "Maa soetusmaksumus",
  :estate "Kinnistu",
  :land-acquisition-saved "Maa omandamine edukalt salvestatud",
  :net-area-balance "Netojääk {area} m²",
  :cadastral-unit-number "Katastriüksuse number",
  :filter {:quality "Maa andmete kvaliteet"},
  :no-position-number
  "Katastriüksusel puudub positsiooni number. Seotud failid puuduvad.",
  :estate-data "Kinnistu andmed",
  :table-heading
  {:area "Ala", :cost "Maksumus", :recipient "Saaja", :type "Tüüp"},
  :no-active-burdens "Aktiivsed koormatised puuduvad",
  :owner-filter-label "Omanik",
  :unit-valuations "Üksuse hindamine",
  :cadastral-filter-label "Katastriüksus",
  :unit-name-id "Üksuse nimi ja tunnus",
  :quality
  {:any "Kõik",
   :bad "Halb",
   :good "Hea (L-Est)",
   :questionable "Küsitav"},
  :filter-label "Filtreerin üksused",
  :total-excluding-process "Kokku ilma protseduuri tasudeta:",
  :no-estate-id "Üksusel puudub kinnistu number",
  :units "üksust",
  :estate-info-fetch-failure
  "X-teest ei õnnestunud teavet hankida. Palun proovi uuesti ja kui tõrge püsib, pöörduge süsteemi administraatori poole.",
  :estate-filter-label "Kinnistu",
  :no-land-acquisitions "Selle kinnistu maid ei omandata",
  :fetching-land-units "Toon maade andmeid",
  :refresh-estate-info "Uuendan kinnistute andmeid",
  :add-owner "+ Lisan omaniku",
  :owner-data "Omaniku andmed"},
 :land-modal-page
 {:owner-info "Omanikud",
  :no-burdens "Koormatisi pole",
  :no-comments "Kommentaare pole",
  :burdens "Koormatist",
  :comments "Kommentaari",
  :mortgages "Hüpoteeki",
  :modal-title
  {:burdens "Koormatised",
   :comments "Kommentaarid",
   :costs "Kulud",
   :files "Üksusega seotud failid",
   :mortgages "Hüpoteegid"},
  :costs "Kulud",
  :mortgage "Hüpoteek",
  :comment "Kommentaar",
  :files "Üksusega seotud failid",
  :burden "Koormatis",
  :no-mortgages "Hüpoteeke pole"},
 :link
 {:search
  {:placeholder "Lisan viite...",
   :no-results "Ei leitud ühtki vastet"},
  :target-deleted "Kustutatud {user} poolt {at}",
  :type-label
  {:task "Ülesanne",
   :estate "Kinnistu",
   :cadastral-unit "Katastriüksus"},
  :land-unit-not-in-project "Projektis pole valitud",
  :no-units-in-estate-selected "Projektis pole valitud üksusi"},
 :login
 {:login "Sisenen",
  :password "Salasõna",
  :username "Kasutaja",
  :greetings-text
  "Tee elukaare teabe ning andmete haldamise ja vahetamise keskkond TEET"},
 :map
 {:aerial-view "Aerofoto",
  :clear-selections "Tühjendan valikud",
  :display "Kaardi tüüp",
  :layers
  {:no-filters "Filtrid puuduvad",
   :projects "Projektid",
   :restrictions "Kitsendused",
   :teeregister "Teeregistri kaardikihid",
   :heritage "Muinsus",
   :eelis "EELIS",
   :layer "kiht",
   :heritage-protection-zones "Muinsuskaitsevöönd",
   :cadastral-units "Katastriüksused",
   :no-layers "Kihid puuduvad",
   :land-surveys "Maa uuring"},
  :map-layers "Kaardikihid",
  :select-all "Valin kõik"},
 :meeting
 {:notifications-help
  "Saatke koosoleku osalejatele teavitus koosoleku sisu muudatuste kohta.",
  :add-non-teet-participant "Lisan TEET-u välise osaleja",
  :search-decisions "Otsin otsuseid",
  :add-decision-button "Lisan otsuse",
  :participant-removed "Osaleja eemaldatud",
  :approve-meeting-modal-title "Kinnitan otsused?",
  :edit-meeting-modal-title "Muuda koosolekut",
  :activity-meetings-title "Koosolekud - {activity-name}",
  :new-meeting-modal-title "Uus koosolek",
  :participants-title "Osalejad",
  :reject-meeting-modal-title "Lükkan otsused tagasi?",
  :meetings-title "Koosolekud",
  :approve-meeting-button "Kinnitan otsused",
  :no-meetings "Koosolekuid ei ole",
  :send-notification-to-participants "{count} osalejat",
  :add-agenda-button "Lisan päevakavapunkti",
  :approvals "Kinnitused",
  :new-decision-modal-title "Uue otsuse lisamine",
  :no-decisions-found "Ühtegi otsust ei leitud",
  :reviews-invalidated-warning-text
  "Muutes koosoleku sisu tühistatakse kõik juba antud kinnitused.",
  :edit-decision-modal-title "Otsuse muutmine",
  :new-meeting-button "Loon uue koosoleku",
  :project-meetings-title "Projekti koosolekud",
  :notifications-title "Teavitused",
  :edit-agenda-modal-title "Päevakavapunkti muutmine",
  :new-agenda-modal-title "Uus päevakavapunkt",
  :reject-meeting-button "Lükkan tagasi",
  :add-person "Osaleja lisamine",
  :approved-by "Kinnitatud {approvers} poolt",
  :notifications-sent "Kalendri teavitus saadetud",
  :decision-topic "{topic} otsus #{num}"},
 :notifications
 {:no-unread-notifications "Uusi teavitusi ei ole",
  :topic-deleted "Päevakavapunkt edukalt kustutatud",
  :task-status-updated "Ülesande staatus edukalt värskendatud",
  :meeting-deleted "Koosolek edukalt kustutatud",
  :meeting-updated "Koosolek edukalt uuendatud",
  :task-deleted "Ülesanne edukalt kustutatud",
  :permission-added-successfully "Luba on edukalt lisatud",
  :decision-updated "Otsus edukalt uuendatud",
  :meeting-created "Koosolek edukalt loodud",
  :comments-resolved "Märkus edukalt lahendatud",
  :topic-updated "Päevakavapunkt edukalt uuendatud",
  :comment-edited "Kommentaar edukalt muudetud",
  :comment-deleted "Kommentaar edukalt kustutatud",
  :activity-created "Tegevus edukalt loodud",
  :decision-deleted "Otsus edukalt kustutatud",
  :permission-revoked "Luba tühistati edukalt",
  :decision-created "Otsus edukalt lisatud",
  :task-created "Ülesanne edukalt lisatud",
  :comment-status-changed "Kommentaari staatus edukalt muudetud",
  :restrictions-updated "Kitsendused edukalt värskendatud",
  :task-updated "Ülesanne edukalt värskendatud",
  :tasks-created "Ülesanded edukalt lisatud",
  :activity-deleted "Tegevus edukalt kustutatud",
  :mark-all-read "Märgin kõik loetuks",
  :activity-updated "Tegevus edukalt värskendatud",
  :cadastral-units-updated "Katastriüksused edukalt värskendatud",
  :topic-created "Päevakavapunkt edukalt lisatud"},
 :page-title {:project-list "{name} projekt"},
 :people-tab
 {:active "AKTIIVNE",
  :consultants "Konsultandid",
  :hide-history "Peidan ajaloo",
  :invite-user "Lisan uue kasutaja",
  :managers "Juhid",
  :no-other-users "Teisi kasutajaid pole",
  :other-users "Muud kasutajad",
  :show-history "Vaatan ajalugu"},
 :project
 {:add-users "Lisan kasutajaid",
  :remove-from-project "Eemaldan projektist",
  :details-view "Detailid",
  :map-view "Kaart",
  :project-updated "Projekti värskendati edukalt",
  :new-activity "Lisan tegevuse",
  :add-activity
  #:thk.lifecycle-type{:construction "Lisan staadiumi",
                       :design "Lisan etapi"},
  :tabs
  {:activities "Tegevused",
   :details "Üksikasjad",
   :land "Maad",
   :people "Inimesed",
   :restrictions "Kitsendused",
   :road-objects "Teeobjektid",
   :meetings "Koosolekud"},
  :edit-activity "Muudan tegevust",
  :restrictions-tab "Kitsendused",
  :download-related-info "Laen seotud andmed alla",
  :edit-comment "Muudan kommentaari",
  :show-timeline "Kuvan projekti ajakava",
  :edit-task "Muudan ülesannet",
  :activity {:no-tasks "Ülesandeid pole lisatud"},
  :edit-project "Muudan projekti",
  :wizard
  {:restrictions "Valin asjakohased piirangud",
   :setup-incomplete "Projekti seadistamine lõpetamata",
   :project-setup "Projekti seadistamine",
   :step-of "Samm {current} / {total}",
   :selected-count "{selected} / {total} valitud",
   :basic-information "Põhiandmed",
   :activities "Lisan projekteerimise tegevused",
   :cadastral-units "Valin mõjutatud katastriüksused",
   :skip-setup "Jätan seadistuse vahele"},
  :add-task "Lisan ülesande",
  :draw-selection
  {:deselect "Eemaldan nimekirjast",
   :link "Valin alad kaardilt",
   :select "Lisan nimekirja"},
  :information
  {:carriageway "SO",
   :estimated-duration "Eeldatav kestus",
   :km-range "Km ulatus",
   :procurement-number "Hanke number",
   :repair-method "Meede",
   :road-number "Tee number"},
  :add-tasks "Lisan ülesandeid",
  :activities "Projekti tegevused",
  :cadastral-units-tab "Maad",
  :edit-project-details-modal-title "Muudan projekti üksikasju",
  :management "Juhid",
  :no-selected-restrictions
  "Selle projekti jaoks pole ühtegi piirangut valitud",
  :activities-tab "Tegevused"},
 :project-groups {:title "Projektirühmad"},
 :projects
 {:filters
  {:all "Kõik projektid",
   :my-projects "Minu projektid",
   :unassigned-only "Määramata projektid"},
  :list-view "Projektide loetelu",
  :map-view "Kaart",
  :no-activities "Tegevused puuduvad",
  :title "Projektid"},
 :roles
 {:authenticated-guest "Autenditud külaline",
  :external-consultant "Väline konsultant",
  :guest "Külaline",
  :internal-consultant "Sisemine konsultant",
  :manager "Projektijuht",
  :owner "Vastutav isik"},
 :search {:clear-filters "Puhastan filtrid", :quick-search "Otsin"},
 :search-area
 {:filter-by-distance "Filtreerin kauguse järgi",
  :inclusion-areas "Mõjualad",
  :select-relevant-restrictions "Valin asjakohased piirangud",
  :waiting-for-area "Mõjuala ootamine",
  :inclusion-distance "Mõju ulatus",
  :select-relevant-cadastral-units "Valin sobivad katastriüksused",
  :restriction-results-by-buffer
  "Leiti {count} piirangut {meters} meetri raadiuses.",
  :restriction-results-by-area
  "Leiti {count} piirangut määratletud mõjualadel.",
  :cadastral-results-by-buffer
  "Leiti {count} katastriüksust {meters} meetri raadiuses.",
  :cadastral-results-by-area
  "Leiti {count} katastriüksust määratletud mõjualadel.",
  :filter-by-area "Filtreerin mõjuala järgi",
  :inclusion-distance-placeholder
  "Sisestan väärtuse seotud piirkondade kuvamiseks",
  :component-title "Seotud objektide otsinguala"},
 :tab-names
 {:details "Üksikasjad",
  :notes "Märkused",
  :upcoming "Eesolevad",
  :history "Möödunud",
  :decisions "Otsused"},
 :task
 {:task-overview "Ülesande ülevaade",
  :edit-part-modal-title "Muudan ülesande osa",
  :upload-files "Laen failid üles",
  :edit-document "Muudan dokumenti",
  :create-success-notification "Ülesanne edukalt loodud",
  :start-review-success "Ülevaatus algas",
  :add-part "Lisan osa",
  :accept-review "Aktsepteerin ülesande",
  :reject-review "Lükkan tagasi",
  :documents "Dokumendid",
  :add-part-modal-title "Lisan ülesande osa",
  :add-document "Lisan dokumendi",
  :submit-results "Esitan tulemused",
  :submit-results-success "Tulemused edukalt esitatud",
  :link-info "Vastutav isik - {assignee}. Tähtaeg - {deadline}.",
  :submit-results-confirm
  "Oled kindel, et soovid {task} vastused saata?",
  :no-documents "Dokumente ei ole",
  :edit-success-notification "Ülesanne edukalt muudetud",
  :results "Tulemused"},
 :user
 {:autocomplete
  {:loading "Otsin kasutajaid...",
   :no-options "Kasutajat ei leitud",
   :placeholder "Sisestan nime..."},
  :role "Roll",
  :unregistered "Registreerimata kasutaja"},
 :warning
 {:deploying
  "Rakenduse uut versiooni laetakse. Palun oota mõned minutid ning seejärel värskenda lehte.",
  :version-mismatch
  "Rakenduse uus versioon on laetud. Palun värskenda lehte."}}
