{;; Field names by table, :common for fallback shared
 :fields
 {:common {"name" "Nimi"
           "description" "Kirjeldus"}

  "project" {}
  "projectgroup" {}}

 ;; Common button labels
 :buttons
 {:save "Säästma"
  :cancel "Tühista"
  :add "Lisama"}

 ;; Common texts
 :common
 {:general "Üldine"}

 :project-groups
 {:title "Projektirühmad"}

 :projects
 {:title "Projektid"}
 }
