{:allow []
 :lambdas {:query
           {:fn teet.db-api.db-api-ion/db-api-query
            :integration :api-gateway/proxy
            :description "Run query"}

           :command
           {:fn teet.db-api.db-api-ion/db-api-command
            :integration :api-gateway/proxy
            :description "Execute a command"}

           :tara
           {:fn teet.db-api.db-api-ion/tara-login
            :integration :api-gateway/proxy
            :description "TARA login handler"}

           :process-thk-file
           {:fn teet.thk.thk-integration-ion/process-thk-file
            :description "Process THK CSV file"}

           :process-upload
           {:fn teet.file.file-import/import-uploaded-file
            :description "Import uploaded file"}

           :thk-export
           {:fn teet.thk.thk-integration-ion/export-projects-to-thk
            :description "Export projects as CSV for THK"}

           :backup
           {:fn teet.backup.backup-ion/backup
            :description "Export backup of Datomic data to S3 bucket"}}
 :app-name "teet-datomic"}
