{:allow []
 :lambdas {:query
           {:fn teet.db-api.db-api-ion/db-api-query
            :integration :api-gateway/proxy
            :doc "Run query"}

           :command
           {:fn teet.db-api.db-api-ion/db-api-command
            :integration :api-gateway/proxy
            :doc "Execute a command"}

           :tara
           {:fn teet.db-api.db-api-ion/tara-login
            :integration :api-gateway/proxy
            :doc "TARA login handler"}}
 :app-name "teet-datomic-live-test"}
