name: lint

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install clj-kondo
      run: bash <(curl -s https://raw.githubusercontent.com/borkdude/clj-kondo/master/script/install-clj-kondo) --dir /home/runner/work
    - name: clj-kondo checks
      run: ./ci/scripts/lint.bash
      env:
        GITHUB_REPOSITORY: ${{ github.repository }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: setup clojure
      uses: DeLaGuardo/setup-clojure@2.0
      with:
        tools-deps: '1.10.1.510'
    - name: run backend tests
      run: clojure -A:test
      working-directory: app/backend/
    - name: run frontend tests
      run: clojure -A:test
      working-directory: app/frontend/
