name: nvd

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Cache m2 repo
      uses: actions/cache@v2
      env:
        cache-name: cache-m2-repo
      with:
        path: ~/.m2
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/deps.edn') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    - name: setup clojure
      uses: DeLaGuardo/setup-clojure@2.0
      with:
        tools-deps: '1.10.1.510'
    - name: install babashka
      run: |
        curl -s https://raw.githubusercontent.com/borkdude/babashka/master/install -o install-babashka
        chmod +x install-babashka
        sudo ./install-babashka
    - name: run nvd
      run: ./ci/scripts/nvd.clj
      env:
        GITHUB_REPOSITORY: ${{ github.repository }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
