name: test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: setup clojure
      uses: DeLaGuardo/setup-clojure@2.0
      with:
        tools-deps: '1.10.1.510'
    - name: decrypt ci-deps
      run: openssl enc -aes-256-cbc -d -pass pass:${{ secrets.CI_DEPS_ENCRYPTION_PASS }} -in .github/ci-deps-enc.tar.bz2 -out ci-deps.tar.bz2
      working-directory: .
    - name: extract ci-deps
      run: tar jxf ci-deps.tar.bz2 -C ~
      working-directory: .
    - name: run backend tests
      run: clojure -A:test
      working-directory: app/backend/
    - name: run frontend tests
      run: clojure -A:test
      working-directory: app/frontend/
